$govuk-images-path: "@govuk/assets/images/";
$govuk-fonts-path: "@govuk/assets/fonts/";
$govuk-global-styles: true;

@import "@govuk/all";
@import "dfe-autocomplete/src/dfe-autocomplete";
@import "../styles/app_form_states";
@import "../styles/app_memorandum_of_understanding";
@import "../styles/app_preview_area";
@import "../styles/app_select_options";
@import "../styles/app_summary_card";
@import "../../components/task_list_component/";
@import "../../components/page_list_component/";
@import "../../components/header_component/";
@import "../../components/markdown_editor_component";
@import "../../components/metrics_summary_component";
