$govuk-assets-path: "@govuk/assets/";
$govuk-global-styles: true;
$govuk-new-typography-scale: true;

@import "pkg:govuk-frontend";
@import "pkg:dfe-autocomplete";
@import "../styles/app_filter";
@import "../styles/app_form_states";
@import "../styles/app_memorandum_of_understanding";
@import "../styles/app_preview_area";
@import "../styles/app_select_options";
@import "../styles/app_summary_card";
@import "../styles/app_summary_list";
@import "../styles/app_change_order";
@import "../../components/task_list_component/";
@import "../../components/page_list_component/";
@import "../../components/header_component/";
@import "../../components/markdown_editor_component";
@import "../../components/metrics_summary_component";
@import "../../components/act_as_user_banner_component";
@import "../../components/service_navigation_component";
@import "../../components/scrolling_wrapper_component";

// TODO: this should be fixed by https://trello.com/c/FpxolRha/3030-fix-missing-arrow-on-autocomplete-fields
.autocomplete__dropdown-arrow-down {
  z-index: auto;
}
