$govuk-images-path: "@govuk/assets/images/";
$govuk-fonts-path: "@govuk/assets/fonts/";
$govuk-new-link-styles: true;
$govuk-global-styles: true;

@import "govuk/all";
@import "../styles/app_select_options";
@import "../styles/app_summary_card";
@import "../../components/task_list_component/";
@import "../../components/page_list_component/";
@import "../../components/header_component/";
