<% set_page_title(t(".title")) %>
<% content_for :back_link, govuk_back_link_to(group_members_path(@group)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 id="heading" class="govuk-heading-l">
      <span class="govuk-caption-l"><%= @group.name %></span>
      <span class="govuk-visually-hidden"> - </span>
      <%= t(".title") %>
    </h1>

    <%= t(".body_html") %>
  </div>
</div>
