.app-list--alpha {
  list-style-type: lower-alpha;
  padding-left: 20px
}

.app-list--roman {
  list-style-type: lower-roman;
  padding-left: 20px
}

.app-list--upper-roman {
  list-style-type: upper-roman;
  padding-left: 20px
}
