.app-markdown-editor__notification-area {
  @include govuk-visually-hidden;
}

.app-markdown-editor__preview-area :last-child {
  margin-bottom: 0;
}

.js-enabled .app-markdown-editor__preview-button {
  display: none;
}

.js-enabled .app-markdown-editor__preview-intro {
  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

.js-enabled .app-markdown-editor__preview-line-break {
  @include govuk-media-query($from: tablet) {
    display: none;
  }
}
