.app-filter {
  form {
    margin: govuk-spacing(3);
    padding: govuk-spacing(3) 0;
    background: govuk-colour("black", $variant: "tint-95");
  }

  .govuk-hint {
    color: govuk-functional-colour(text);
  }

  .autocomplete__input {
    background: govuk-colour("white");
  }
}
