.app-summary-card {
  // Summary list component overrides
  .govuk-summary-list {
    margin-bottom: govuk-spacing(-2);

    @include govuk-font($size: 16);
  }

  .govuk-summary-list .govuk-list {
    margin-bottom: govuk-spacing(-2);

    @include govuk-font($size: 16);
  }

  // Remove last item’s bottom border on mobile
  .govuk-summary-list__row:last-child {
    border-bottom: 0;
  }

  // Remove lsat item’s bottom border on tablet and larger
  .govuk-summary-list__row:last-child > * {
    border-bottom: 0;
  }
}
