.app-translation-table {
  height: 100%;
  table-layout: fixed;
  min-width: govuk-px-to-rem(450);
}

.app-translation-table .table__row {
  height: 100%;
}

.app-translation-table .govuk-table__cell {
  height: 100%;
  width: 37.5%;
}

.app-translation-table--two-column .govuk-table__cell {
  width: 50%;
}

.app-translation-table .govuk-form-group {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.app-translation-table .govuk-textarea {
  min-height: 5lh;
  flex-grow: 1;
  margin-bottom: 0;
  field-sizing: content;
}

.app-translation-table .govuk-table__header[scope="row"],
.app-translation-table__empty-header-cell {
  width: 25%;
}

.app-translation-table__markdown-preview {
  white-space: pre-wrap;
  font-size: inherit;
  font-family: inherit;
  margin: 0;
}
