.app-list--lower-alpha {
  padding-left: govuk-spacing(4);
  list-style-type: lower-alpha;
}

.app-list--lower-roman {
  padding-left: govuk-spacing(4);
  list-style-type: lower-roman;
}

.app-list--upper-roman {
  padding-left: govuk-spacing(4);
  list-style-type: upper-roman;
}
