<% set_page_title(title_with_error_prefix(t(".title"), @group.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(@group, t("back_link.group", group_name: @group.name)) %>

<h1 class="govuk-heading-l"><%= t(".title") %></h1>

<%= render "form", group: @group %>
