<% set_page_title(@group.name) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<%= form_with(model: @group) do |f| %>
    <h1 class="govuk-h1-l">Move this group to another organisation</h1>
      <div class="govuk-!-margin-bottom-4">
        <%= form_with(model: @search_input, scope: :search, url: groups_path, method: 'get', local: true) do |f| %>
          <%= render DfE::Autocomplete::View.new(
            f,
            attribute_name: :organisation_id,
            form_field: f.govuk_collection_select(:organisation_id,
                                                  Organisation.with_users.order(:name),
                                                  :id,
                                                  :name_with_abbreviation,
                                                  class: ['govuk-!-width-three-quarters'],
                                                  options: { prompt: t('groups.index.organisation_search.prompt') },
                                                  label: { text: t('groups.index.organisation_search.label', organisation_name: @search_input.organisation.name), size: 'm', tag: 'h2' },
                                                  hint: { text: t('groups.index.organisation_search.hint') },
                                                  ),
            html_attributes: { 'data-show-all-values' => 'true'},
            )%>
          <%= f.govuk_submit(t("home.change_filter"), secondary: true) %>
        <% end %>
      </div>
<% end %>
  </div>
</div>
