<% content_for :back_link, govuk_back_link_to(groups_path, t("back_link.groups")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%= render @group %>

    <div>
      <%= govuk_button_link_to("Edit group", edit_group_path(@group), class: "govuk-!-margin-bottom-3 govuk-!-margin-top-3" ) %>
      <%= govuk_button_to("Delete group", @group, method: :delete, warning: true, class: "govuk-!-margin-bottom-3 govuk-!-margin-top-3" ) %>
    </div>

  </div>
</div>
