<% set_page_title("Home") %>
<h1 class="govuk-heading-l">GOV.UK Forms</h1>

<% if flash[:message] %>
  <p class="govuk-body">
    <%= flash[:message] %>
  </p>
<% end %>

<%= govuk_start_button(text: "Create a form", href: new_form_path) %>

<h2 class="govuk-heading-m">Your forms</h2>

<%= govuk_summary_list do |summary_list|
  @forms.each do |form|
    summary_list.row do |row|
      row.key { form.name }
      row.action(text: "Edit", href: form_path(form.id), visually_hidden_text: form.name )
      row.action(text: "View in runner", href: "#{ENV['RUNNER_BASE']}/form/#{form.id}", visually_hidden_text: ": #{form.name}")
    end
  end
end %>
