<h1 class="govuk-heading-xl">GOV.UK Forms</h1>
<% if flash[:message] %>
  <%= flash[:message] %>
<% end %>

<p class="govuk-body">Under construction, coming soon<p>

<% @forms.each do |form| %>
  <p class="govuk-body"><%= form.id%>: <%= form.name %></p>
<% end %>
