<h1 class="govuk-heading-l">
  <span class="govuk-caption-l"><%= @form.name %></span>
  <%= t("page_titles.confirm_email_success") %>
</h1>

<%= t('email_code_success.body_html', submission_email: @form.submission_email) %>

<%= govuk_link_to(t('email_code_success.continue'), form_path) %>
