<% set_page_title(title_with_error_prefix(t(".title"), @delete_confirmation_input.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(@back_url) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <% if @page.routing_conditions.present? %>
      <%= govuk_notification_banner(title_text: "Important") do |banner|
        banner.with_heading(text: t(".notification_banner.start_of_route.heading_text", routing_page_position: @page.position), tag: :h3)

        t(".notification_banner.start_of_route.html", routing_page_position: @page.position, routing_page_show_routes_href: show_routes_path(current_form.id, @page.id))
      end %>
    <% end %>

    <%= render(
      @delete_confirmation_input,
      url: @url,
      caption_text: @item_name,
      legend_text: t(".title"),
      hint_text: nil,
    ) %>
  </div>
</div>
