<% set_page_title(title_with_error_prefix(t("page_titles.new_page_form"), @type_of_answer_form.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(form_pages_path(@form)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: [@form, @type_of_answer_form], url: @type_of_answer_path do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_collection_radio_buttons(
            :answer_type,
            @answer_types,
            ->(option) { option },
            ->(option) { I18n.t('helpers.label.page.answer_type_options.names.' + option) },
            ->(option) { I18n.t('helpers.label.page.answer_type_options.descriptions.' + option) },
            legend: { text: t('page_titles.type_of_answer'), size: 'l', tag: 'h1' },
            caption: { text: "#{t("pages.question")} #{@form.page_number(@page)}" , size: 'l' },
          )  %>
      <%= f.govuk_submit t('save_and_continue'), value: "true", name: :set_answer_type %>
    <% end %>
  </div>
</div>
