# Used to add feature flags in the app to control access to certain features.
features:
  reorder_pages: true
  autocomplete_answer_types: false
  draft_live_versioning: false
  live_view: false

# Settings for GOV.UK Notify api & email templates
govuk_notify:
  api_key: changeme
  submission_email_confirmation_code_email_template_id: ce2638ab-754c-416d-8df6-c0ccb5e1a688

# When set to true, any capybara tests will run chrome normally rather than in headless mode.
show_browser_during_tests: false

# Configuration for Sentry
# Sentry will only initialise if dsn is set to some other value
sentry:
  dsn:
  environment: local
