# Used to add feature flags in the app to control access to certain features.
features:
  metrics_for_form_creators_enabled: false

forms_api:
  # Authentication key to authenticate with forms-api
  auth_key: development_key
  # URL to form-api endpoints
  base_url: http://localhost:9292

forms_runner:
  # Base URL to point users to the app in the UI
  url: http://localhost:3001

forms_product_page:
  # Base URL to point users to the app in the UI
  support_url: http://localhost:3002/support

# Settings for GOV.UK Notify api & email templates
govuk_notify:
  api_key: changeme
  submission_email_confirmation_code_email_template_id: ce2638ab-754c-416d-8df6-c0ccb5e1a688
  user_upgrade_template_id: 5ec25494-c045-4cf6-9009-2f122e3339f4
  zendesk_reply_to_id: 0acefa17-04b5-4614-a2ad-6c7f17dd26ab

# When set to true, any capybara tests will run chrome normally rather than in headless mode.
show_browser_during_tests: false

maintenance_mode:
  # When set to true, All pages will render 'Maintenance mode' message
  enabled: false
  # List of IP addresses which will bypass the maintenance mode message as a comma seperated string, optionally using CIDR notation eq. "127.0.0.1, 192.192.192.192/32, 0.0.0.0/24"
  bypass_ips:

# Configuration for Sentry
# Sentry will only initialise if dsn is set to some other value
sentry:
  dsn:
  environment: local

# How we authenticate users
auth_provider: # use default auth_provider from environment

auth_valid_for: 86400 # the time after which re-authentication is required, in seconds

auth0:
  client_id: changeme
  client_secret:
  domain: changeme.uk.auth0.com

basic_auth:
  username: basic_auth_user
  password:
  organisation:
    name: GDS User Research
    slug: gds-user-research
    govuk_content_id: "00000000-0000-0000-0000-000000000000"

forms_env: local
