# Used to add feature flags in the app to control access to certain features.
features:
  groups: true # Do not switch off!
  repeatable_page_enabled: false

forms_api:
  # Authentication key to authenticate with forms-api
  auth_key: development_key
  # URL to form-api endpoints
  base_url: http://localhost:9292

forms_runner:
  # Base URL to point users to the app in the UI
  url: http://localhost:3001

forms_product_page:
  # Base URL to point users to the app in the UI
  support_url: http://localhost:3002/support

# Settings for GOV.UK Notify api & email templates
govuk_notify:
  api_key: changeme
  alert_processor_form_archive_template_id: 22fe5aae-a695-42a2-81e8-1d9ec4bab7ad
  submission_email_confirmation_code_email_template_id: ce2638ab-754c-416d-8df6-c0ccb5e1a688
  live_submission_email_of_no_further_form_submissions_template_id: a8c43931-af3d-48ff-b5b2-dbc444796dec
  zendesk_reply_to_id: 0acefa17-04b5-4614-a2ad-6c7f17dd26ab
  group_member_added_to_group_id: d1fc7267-7e27-4e6c-aa30-523b8be3d637
  group_upgraded_template_id: b5d0d3d4-fc24-403e-aba6-b421fdcebd55
  group_upgrade_requested_template_id: e2251c92-9365-429a-9857-56780263718f
  group_upgrade_rejected_template_id: f494999a-1a38-4b01-a3c8-dbb2d60e6e5f

# When set to true, any capybara tests will run chrome normally rather than in headless mode.
show_browser_during_tests: false

maintenance_mode:
  # When set to true, All pages will render 'Maintenance mode' message
  enabled: false
  # List of IP addresses which will bypass the maintenance mode message as a comma seperated string, optionally using CIDR notation eq. "127.0.0.1, 192.192.192.192/32, 0.0.0.0/24"
  bypass_ips:

# Configuration for Sentry
# Sentry will only initialise if dsn is set to some other value
sentry:
  dsn:
  environment: local
  filter_mask: "[Filtered (client-side)]"

# How we authenticate users
auth_provider: # use default auth_provider from environment

# The time the user's authorisation session is valid for. After this time, the session with have to be re-authorised
# with Auth0. If the user's session on Auth0 is still valid, the user will not be required to login again.
# If we change this value, we should also change the session timeout for the Auth0 tenant (configured in terraform) to
# match it.
auth_valid_for: 28800 # 8 hours

auth0:
  client_id: changeme
  client_secret:
  e2e_client_id: changeme
  e2e_client_secret:
  domain: changeme.uk.auth0.com

basic_auth:
  username: basic_auth_user
  password:
  organisation:
    name: GDS User Research
    slug: gds-user-research
    govuk_content_id: "00000000-0000-0000-0000-000000000000"

forms_env: local

mailchimp:
  api_key:
  api_prefix: changeme
  active_users_list: changeme
  mou_signers_list: changeme

analytics_enabled: false

act_as_user_enabled: false
