<p>Last updated: 06 November 2023</p>

<nav aria-labelledby="sections-heading">
  <h2 class="govuk-heading-m" id="sections-heading">Contents</h2>
  <ul class="govuk-list">
    <li><a href="#what-this-document-is">What this document is </a></li>
    <li><a href="#about-gov.uk-forms">About GOV.UK Forms</a></li>
    <li>
      <a href="#how-gov.uk-forms-handles-the-personal-data-of-members-of-the-public-and-businesses"
        >How GOV.UK Forms handles the personal data of members of the public and businesses
      </a>
    </li>
    <li><a href="#starting-and-ending-this-agreement">Starting and ending this agreement </a></li>
    <li><a href="#people-involved-in-this-agreement">People involved in this agreement </a></li>
    <li><a href="#gov.uk-forms-pricing">GOV.UK Forms pricing</a></li>
    <li><a href="#cyber-security-responsibilities">Cyber Security Responsibilities </a></li>
    <li><a href="#compliance-with-data-protection-legislation">Compliance with Data Protection Legislation </a></li>
    <li><a href="#protection-of-personal-data">Protection of Personal Data </a></li>
    <li>
      <a href="#how-gov.uk-forms-deals-with-freedom-of-information-requests"
        >How GOV.UK Forms deals with Freedom of Information requests
      </a>
    </li>
    <li><a href="#annex-a-definitions">Annex A: Definitions</a></li>
    <li><a href="#annex-b-gov.uk-forms-data-sub-processors">Annex B: GOV.UK Forms data sub-processors </a></li>
    <li><a href="#annex-c-gov.uk-forms-data-retention-times">Annex C: GOV.UK Forms data retention times </a></li>
    <li>
      <a href="#annex-d-gov.uk-forms-schedule-of-processing-personal-data-and-data-subjects"
        >Annex D: GOV.UK Forms schedule of processing, personal data and data subjects
      </a>
    </li>
    <li><a href="#annex-e-how-gov.uk-forms-protects-your-data">Annex E: How GOV.UK Forms protects your data </a></li>
  </ul>
</nav>

<h2 class="govuk-heading-m" id="what-this-document-is">What this document is</h2>
<ol class="govuk-list govuk-list--number">
  <li>
    <p>
      This is a memorandum of understanding (“MOU”) between the Government Digital Service (“GDS”) and your organisation (together the
      “Parties”). The single MOU covers all the forms an organisation publishes using GOV.UK Forms.
    </p>
  </li>
  <li>
    <p>This MOU shall be interpreted in accordance with the Annexes.</p>
  </li>
  <li>
    <p>
      This MOU is not intended to be legally binding and no legal obligations or legal rights shall arise between the Parties from the
      provisions of the MOU. For the avoidance of doubt, GDS shall not be liable for any Loss arising from, or in connection with a breach
      of this MOU. However, the Parties enter into the MOU intending to honour their obligations. Any dispute will be escalated to
      appropriately senior officers of GDS and your organisation for resolution.
    </p>
  </li>
</ol>

<h2 class="govuk-heading-m" id="about-gov.uk-forms">About GOV.UK Forms</h2>
<ol class="govuk-list govuk-list--number" start="4">
  <li>
    <p>
      <a href="https://www.forms.service.gov.uk/">GOV.UK Forms</a> is a web-based platform owned and operated by GDS, which is used for
      creating more accessible online forms for GOV.UK without needing technical knowledge. As well as the forms being more accessible
      compared to document-based forms like PDFs, the forms are easier to use and quicker for government teams to process.
    </p>
  </li>
  <li>
    <p>
      When your organisation creates online forms, at your request, GOV.UK Forms collects information from members of the public and
      businesses. As GOV.UK Forms processes the Personal Data from members of the public and businesses on behalf of your organisation, GDS
      is a Data Processor for your organisation.
    </p>
  </li>
  <li>
    <p>
      When GOV.UK Forms processes completed forms, GDS sends the Personal Data of members of the public and businesses to your organisation.
      GDS uses GOV.UK Notify to deliver emails with the personal data submissions to your organisation's Form Processors. This MOU covers
      this transfer.
    </p>
  </li>
  <li>
    <p>
      The online forms are unauthenticated and could be completed by anyone. You are responsible for including identification and
      authentication mechanisms within your downstream processes if these are required.
    </p>
  </li>
</ol>

<h2 class="govuk-heading-m" id="how-gov.uk-forms-handles-the-personal-data-of-members-of-the-public-and-businesses">
  How GOV.UK Forms handles the personal data of members of the public and businesses
</h2>
<figure role="figure" aria-label="The GOV.UK Forms dataflow">
  <img src="<%= vite_asset_path 'images/govuk-forms-dataflow.png' %>" alt="A diagram showing the flow of information between different entities in the GOV.UK Forms platform." width="100%" />
  <figcaption><p class="govuk-!-text-align-centre">The GOV.UK Forms dataflow</p></figcaption>
</figure>
<ol class="govuk-list govuk-list--number" start="8">
  <li>
    <p>
      The GOV.UK Forms team designs and develops the GOV.UK Forms web platform. Your organisation gets access to and creates online forms
      using the GOV.UK Forms platform. Your organisation’s form creators create online forms using the GOV.UK Forms platform, which runs on
      an external cloud service. Members of the public and businesses fill in a form on GOV.UK Forms. GOV.UK Forms collects the Personal
      Data and uses an API to deliver the Personal Data to GOV.UK Notify. GOV.UK Notify, using an external email provider, delivers the
      personal data to your organisation’s shared inbox for your Form Processor to use.
    </p>
  </li>
</ol>
<h2 class="govuk-heading-m" id="starting-and-ending-this-agreement">Starting and ending this agreement</h2>
<ol class="govuk-list govuk-list--number" start="9">
  <li>
    <p>
      This agreement starts when your organisation has editor or admin accounts on the GOV.UK Forms platform. Either GDS or your
      organisation can end this agreement by giving three months’ notice by email.
    </p>
  </li>
  <li>
    <p>
      The agreement covers all users within the organisation that will use GOV.UK Forms. The agreement can be agreed by multiple users in
      the same organisation, who will be informed of changes as per below.
    </p>
  </li>
  <li>
    <p>
      Any updates to this agreement will be emailed to the person who agreed on behalf of your organisation (or the first account in your
      organisation that is still active). This will happen 30 calendar days before any change is due to be made, along with a summary of the
      changes. The changes will then take effect on the date specified in the notification email. No action is required by your organisation
      if you accept the changes.
    </p>
  </li>
  <li>
    <p>If your organisation doesn’t wish to accept the change, you must notify GDS and this MOU will terminate with immediate effect.</p>
  </li>
  <li>
    <p>
      If there are any long-standing issues with ownership of forms within an organisation, GDS reserves the right to delete the forms from
      the platform and have them removed from GOV.UK. This MOU will then terminate with immediate effect.
    </p>
  </li>
</ol>
<h2 class="govuk-heading-m" id="people-involved-in-this-agreement">People involved in this agreement</h2>
<ol class="govuk-list govuk-list--number" start="14">
  <li>
    <p>For this agreement, the main point of contact for GDS is:</p>
  </li>
</ol>

<p>
  <a href="mailto:govuk-forms-support@govuk.zendesk.com">govuk-forms-support@govuk.zendesk.com</a>
</p>

<ol class="govuk-list govuk-list--number" start="15">
  <li>
    <p>For your organisation, the main point of contact will be the person named when agreeing on behalf of your organisation.</p>
  </li>
  <li>
    <p>
      When agreed, the details of the agreer (along with the date and time agreed) will be stored in a database within GOV.UK Forms in order
      to inform the agreer of updates and for auditing purposes.
    </p>
  </li>
  <li>
    <p>The GOV.UK Forms team will both supervise and process personal data within GDS.</p>
  </li>
</ol>
<h2 class="govuk-heading-m" id="gov.uk-forms-pricing">GOV.UK Forms pricing</h2>
<ol class="govuk-list govuk-list--number" start="18">
  <li>
    <p>
      There is currently no cost for using GOV.UK Forms or for the hosting of forms made on the platform. This is intended to help reduce
      the barriers to lower volume services using GOV.UK Forms that would otherwise require significant procurement effort. This will help
      drive greater digitisation of government services and promote channel shift, saving money and time for our users.
    </p>
  </li>
  <li>
    <p>
      If this pricing structure should change in the future, GDS will inform your organisation at least six months before any price changes
      so that you can decide whether to continue using the product.
    </p>
  </li>
</ol>
<h2 class="govuk-heading-m" id="cyber-security-responsibilities">Cyber Security Responsibilities</h2>
<ol class="govuk-list govuk-list--number" start="20">
  <li>
    <p>
      You are responsible for deciding whether or not GOV.UK Forms is suitable to handle the information you wish to collect using online
      forms. A description of the measures GDS has taken to protect data is described in Annex E. GOV.UK Forms must not be used to handle
      data classified above OFFICIAL.
    </p>
  </li>
  <li>
    <p>You shall ensure that your users of GOV.UK Forms follow good cyber security practices when accessing the service, to include:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <p>
          using end-user devices that are being managed in accordance with the requirements of the
          <a href="https://www.gov.uk/government/publications/the-minimum-cyber-security-standard/the-minimum-cyber-security-standard"
            >Minimum Cyber Security Standard</a
          >
          (and its successor standards)
        </p>
      </li>
      <li>
        <p>not connecting their end-user devices to untrusted WiFi networks, such as those found in public places like cafes and hotels</p>
      </li>
      <li>
        <p>
          using a secure email inbox to set up an account and access GOV.UK Forms login codes, preferably with MFA (known as “2SV” or “2
          step verification”) to access the inbox or device
        </p>
      </li>
    </ul>
  </li>
</ol>
<ol class="govuk-list govuk-list--number" start="22">
  <li>
    <p>If it is suspected that a user’s GOV.UK Forms account has been compromised you shall immediately notify the GOV.UK Forms team.</p>
  </li>
  <li>
    <p>
      You shall ensure that the GOV.UK Forms team is promptly notified when a user in your organisation no longer requires access to the
      Forms administration interface.
    </p>
  </li>
  <li>
    <p>
      You are responsible for managing the security of the mail server you will use to receive form responses. Before using GOV.UK Forms you
      must ensure that this meets the
      <a href="https://www.gov.uk/guidance/securing-government-email">government secure email policy</a>, including:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <p>
          supporting
          <a href="https://www.gov.uk/government/publications/email-security-standards/transport-layer-security-tls"
            >Transport Layer Security Version 1.2</a
          >
          (TLS v1.2) or later
        </p>
      </li>
      <li>
        <p>implementing spam and malware filtering</p>
      </li>
      <li>
        <p>enforcing DMARC on inbound email</p>
      </li>
    </ul>
  </li>
</ol>

<p>
  Note: The NCSC’s
  <a href="https://www.ncsc.gov.uk/information/mailcheck">Mail Check</a>
  service can be used for assessing email security compliance. If your mail server does not support the use of TLS, form response data could
  be transmitted in plain text across the Internet.
</p>

<ol class="govuk-list govuk-list--number" start="25">
  <li>
    <p>
      You are responsible for managing the security of the designated mailbox(es) used to receive form response data. Anyone with access to
      the mailbox(es) will potentially be able to see the form response data.
    </p>
  </li>
  <li>
    <p>
      You may want to consider implementing rules on your mail server to restrict who / what can send emails to the mailbox. For example,
      you could only allow messages originating from the Notify service to be accepted.
    </p>
  </li>
  <li>
    <p>
      You should also bear in mind that email addresses provided by users (in a submission) have not been validated, so may not be correct
      addresses. Notify emails from GOV.UK Forms can also not be replied to.
    </p>
  </li>
  <li>
    <p>
      Parties should report any messages received by this mailbox that are outside of the email output expected from the GOV.UK Forms
      service (e.g. incorrect content format, incorrect sender or bulk messages sent through the service), to the GOV.UK Forms team (see
      contact at item 23).
    </p>
  </li>
  <li>
    <p>You are responsible for checking that form response data received from GOV.UK Forms is safe before you consume it.</p>
  </li>
</ol>
<h2 class="govuk-heading-m" id="compliance-with-data-protection-legislation">Compliance with Data Protection Legislation</h2>
<ol class="govuk-list govuk-list--number" start="30">
  <li>
    <p>
      The parties agree that for GOV.UK Forms User Personal Data and GOV.UK Forms Filler Technical Device Data processed under this MoU, GDS
      shall be a Data Controller. GDS shall ensure compliance with applicable Data Protection Legislation at all times during the Term of
      this MoU in relation to this data.
    </p>
  </li>
  <li>
    <p>
      The Parties agree that for the purpose of GOV.UK Form Filler Personal Data processed under this MOU, GDS shall be a Data Processor and
      your organisation shall be a Data Controller. This MOU is intended to comply with GDPR Article 28 and/or DPA 2018 section 59, in
      accordance with section 209(3) of the DPA 2018.
    </p>
  </li>
  <li>
    <p>Your organisation as a Data Controller is responsible for ensuring that:</p>

    <ol class="govuk-list app-list--alpha">
      <li>
        <p>it is permitted by Law to transfer Personal Data to GDS as its data processor;</p>
      </li>
      <li>
        <p>
          it has the Data Subject’s consent, where necessary, to use GDS to collect personal data and for GDS and its sub-processors to send
          messages to your organisation and users;
        </p>
      </li>
      <li>
        <p>
          it complies with the Data Protection Legislation for each of the Data Subjects. This will include ensuring the Personal Data is
          kept up to date, and only retained for as long as required; and
        </p>
      </li>
      <li>
        <p>The contact details of your organisation’s Form Processor remains accurate and up to date; and</p>
      </li>
      <li>
        <p>that privacy notices for any of your services using GOV.UK Forms are accessible to those service’s Data Subjects.</p>
      </li>
    </ol>
  </li>
</ol>
<h2 class="govuk-heading-m" id="protection-of-personal-data">Protection of Personal Data</h2>
<ol class="govuk-list govuk-list--number" start="33">
  <li>
    <p>
      GDS will not disclose GOV.UK Forms User or Filler Personal Data to any outside organisation other than as set out in this MOU unless
      required by Law.
    </p>
  </li>
  <li>
    <p>
      GDS shall notify your organisation immediately if it considers that any of your instructions infringe the applicable Data Protection
      Legislation (but any such notification does not constitute legal advice, and your organisation remains solely responsible for
      determining the legality of its instructions).
    </p>
  </li>
  <li>
    <p>
      GDS shall provide all reasonable assistance to your organisation in the preparation of any Data Protection Impact Assessment required
      under applicable Data Protection Legislation, prior to commencing any Processing. Such assistance may, at the discretion of your
      organisation, include:
    </p>

    <ol class="govuk-list app-list--alpha">
      <li>
        <p>a systematic description of the envisaged Processing operations and the purpose of the Processing;</p>
      </li>
      <li>
        <p>an assessment of the necessity and proportionality of the Processing operations;</p>
      </li>
      <li>
        <p>an assessment of the risks to the rights and freedoms of Data Subjects; and</p>
      </li>
      <li>
        <p>
          the measures envisaged to address the risks, including safeguards, security measures and mechanisms to ensure the protection of
          Personal Data.
        </p>
      </li>
    </ol>
  </li>
  <li>
    <p>GDS shall, in relation to the GOV.UK Forms User Personal Data:</p>

    <ol class="govuk-list app-list--alpha">
      <li>
        <p>
          process that Personal Data only in accordance with the Schedule of Processing, Personal Data and Data Subjects (Annex D) unless
          GDS is required to do otherwise by Law. If it is so required GDS shall promptly notify your organisation before Processing the
          Personal Data unless prohibited by Law;
        </p>
      </li>
      <li>
        <p>
          ensure that it has in place Protective Measures, which are appropriate to protect against a Data Loss Event, which your
          organisation may reasonably reject (but failure to reject shall not amount to approval by your organisation of the adequacy of the
          Protective Measures), having taken account of the:
        </p>

        <ol class="govuk-list app-list--roman">
          <li>
            <p>nature of the data to be protected;</p>
          </li>
          <li>
            <p>harm that might result from a Data Loss Event;</p>
          </li>
          <li>
            <p>state of technological development; and</p>
          </li>
          <li>
            <p>cost of implementing any measures;</p>
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    <p>GDS shall ensure that:</p>

    <ol class="govuk-list app-list--alpha">
      <li>
        <p>
          Processor Personnel do not Process Personal Data except in accordance with this MOU (and in particular the Schedule of Processing,
          Personal Data and Data Subjects);
        </p>
      </li>
      <li>
        <p>
          it takes all reasonable steps to ensure the reliability and integrity of any Processor Personnel who have access to the Personal
          Data and ensure that they:
        </p>

        <ol class="govuk-list app-list--roman">
          <li>
            <p>are aware of and comply with the GDS duties under this paragraph;</p>
          </li>
          <li>
            <p>are subject to appropriate confidentiality undertakings with GDS or any Sub-Processor;</p>
          </li>
          <li>
            <p>
              are informed of the confidential nature of the Personal Data and do not publish, disclose or divulge any of the Personal Data
              to any third party unless directed in writing to do so by your organisation or as otherwise permitted by this MOU; and
            </p>
          </li>
          <li>
            <p>have undergone adequate training in the use, care, protection and handling of Personal Data; and</p>
          </li>
        </ol>
      </li>
      <li>
        <p>
          Where the GOV.UK Forms User and Filler Personal Data is subject to the UK GDPR, it will not transfer Personal Data outside of the
          United Kingdom unless either:
        </p>

        <ol class="govuk-list app-list--roman">
          <li>
            <p>the transfer is in accordance with Article 45 of the UK GDPR or section 17A of DPA 2018; or</p>
          </li>
          <li>
            <p>the prior written consent of your organisation has been obtained and the following conditions are fulfilled:</p>

            <ol class="govuk-list govuk-list--number">
              <li>
                <p>
                  GDS or your organisation has provided appropriate safeguards in relation to the transfer (whether in accordance with
                  Article 46 of the UK GDPR or section 75 of DPA 2018) as determined by your organisation (which could include relevant
                  parties entering into the International Data Transfer MOU or International Data Transfer MOU Addendum to the European
                  Commission’s SCCs as published by the Information Commissioner’s Office), as well as any additional measures determined by
                  your organisation;
                </p>
              </li>
              <li>
                <p>the Data Subject has enforceable rights and effective legal remedies;</p>
              </li>
              <li>
                <p>
                  GDS complies with its obligations under the Data Protection Legislation by providing an adequate level of protection to
                  any Personal Data that is transferred; and
                </p>
              </li>
              <li>
                <p>
                  GDS complies with any reasonable instructions notified to it in advance by your organisation with respect to the
                  Processing of the Personal Data; and
                </p>
              </li>
            </ol>
          </li>
        </ol>
      </li>
      <li>
        <p>
          where the Personal Data is subject to the EU GDPR, it will not transfer such Personal Data outside of the European Union unless
          either:
        </p>

        <ol class="govuk-list app-list--roman">
          <li>
            <p>the transfer is in accordance with Article 45 of the EU GDPR; or</p>
          </li>
          <li>
            <p>the prior written consent of your organisation has been obtained and the following conditions are fulfilled:</p>

            <ol class="govuk-list govuk-list--number">
              <li>
                <p>
                  GDS or your organisation has provided appropriate safeguards in relation to the transfer in accordance with Article 46 of
                  the EU GDPR as determined by your organisation which could include relevant parties entering into Standard Contractual
                  Clauses in the European Commission’s decision 2021/914/EU set out in Annex 3 to Schedule 31 (Processing Personal Data) or
                  such updated version of such Standard Contractual Clauses as are published by the European Commission from time to time as
                  well as any additional measures determined by GDS;
                </p>
              </li>
              <li>
                <p>the Data Subject has enforceable rights and effective legal remedies;</p>
              </li>
              <li>
                <p>
                  GDS complies with its obligations under the Data Protection Legislation by providing an adequate level of protection to
                  any Personal Data that is transferred; and
                </p>

                <ol class="govuk-list app-list--alpha">
                  <li>
                    <p>
                      GDS complies with any reasonable instructions notified to it in advance by your organisation with respect to the
                      Processing of the Personal Data;
                    </p>
                  </li>
                  <li>
                    <p>
                      at the written direction of your organisation, delete or return Personal Data (and any copies of it) to your
                      organisation on termination of the MOU unless GDS is required by Law to retain the Personal Data.
                    </p>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    <p>
      GDS shall notify your organisation promptly (and in any event in sufficient time for your organisation to comply with its own
      obligations under applicable Data Protection Legislation) if it:
    </p>

    <ol class="govuk-list app-list--alpha">
      <li>
        <p>receives a Data Subject Request (or purported Data Subject Request);</p>
      </li>
      <li>
        <p>receives a request to rectify, block or erase any Personal Data;</p>
      </li>
      <li>
        <p>
          receives any other request, complaint or communication relating to either Party's obligations under the Data Protection
          Legislation;
        </p>
      </li>
      <li>
        <p>
          receives any communication from the Information Commissioner or any other regulatory authority in connection with Personal Data
          Processed under this MOU;
        </p>
      </li>
      <li>
        <p>
          receives a request from any third party for disclosure of Personal Data where compliance with such request is required or
          purported to be required by Law; or
        </p>
      </li>
      <li>
        <p>becomes aware of a Data Loss Event.</p>
      </li>
    </ol>
  </li>
  <li>
    <p>
      Taking into account the nature of the Processing, GDS shall provide your organisation with full assistance in relation to either
      party's obligations under Data Protection Legislation and any complaint, communication or request made (and insofar as possible within
      the timescales reasonably required by your organisation) including by promptly providing:
    </p>

    <ol class="govuk-list app-list--alpha">
      <li>
        <p>your organisation with full details and copies of the complaint, communication or request;</p>
      </li>
      <li>
        <p>
          such assistance as is reasonably requested by your organisation to enable your organisation to comply with a Data Subject Request
          within the relevant timescales set out in the Data Protection Legislation;
        </p>
      </li>
      <li>
        <p>your organisation, at its request, with any Personal Data it holds in relation to a Data Subject;</p>
      </li>
      <li>
        <p>such assistance as is reasonably requested by your organisation following any Data Loss Event;</p>
      </li>
      <li>
        <p>
          such assistance as is reasonably requested by your organisation with respect to any request from the Information Commissioner’s
          Office or any other regulatory authority, or any consultation by your organisation with the Information Commissioner's Office or
          any other regulatory authority.
        </p>
      </li>
    </ol>
  </li>
  <li>
    <p>
      GDS shall maintain complete and accurate records and information to demonstrate its compliance with this clause and make these
      available on request to the Controller.
    </p>
  </li>
  <li>
    <p>
      You may want to consider providing your organisation’s Data Protection Officer (DPO) with account access in order to see all forms and
      data being collected across the organisation. Please inform the GOV.UK Forms team if this is something your DPO would be interested in
      getting.
    </p>
  </li>
  <li>
    <p>
      GDS shall allow for audits of its Data Processing activity by your organisation or your organisation’s designated auditor, provided
      always that:
    </p>

    <ol class="govuk-list app-list--alpha">
      <li>
        <p>
          your organisation gives GDS a minimum of 30 calendar days’ written notice of its intention to audit (other than in the event of a
          Personal Data Breach or where required by a regulator, when your organisation shall give as much notice as is reasonably possible
          in the circumstances);
        </p>
      </li>
      <li>
        <p>
          your organisation to the extent reasonably possible conducts its audit through the written submission of requests for information
          about its Processing operations to the GDS and reliance on GDS’s written responses, unless it has reasonable cause to question the
          accuracy of such responses or the intended scope of its audit cannot reasonably be achieved in such a manner;
        </p>
      </li>
      <li>
        <p>your organisation to the extent reasonably possible minimises the impact of its audit on the operations of the GDS;</p>
      </li>
      <li>
        <p>
          your organisation does not conduct more than one audit annually (other than in the event of a Personal Data Breach or where
          required by a regulator); and
        </p>
      </li>
      <li>
        <p>
          where your organisation appoints a third party auditor, that third party auditor signs an appropriate confidentiality agreement on
          terms acceptable to GDS acting reasonably, prior to the start of the audit.
        </p>
      </li>
    </ol>
  </li>
  <li>
    <p>GDS has a designated Data Protection Officer as required by the Data Protection Legislation.</p>
  </li>
</ol>

<p>The contact is:</p>
<p>
  Data Protection Officer<br />
  Cabinet Office<br />
  70 Whitehall<br />
  London<br />
  SW1A 2AS
</p>
<p>
  <a href="mailto:dpo@cabinetoffice.gov.uk">dpo@cabinetoffice.gov.uk</a>
</p>

<ol class="govuk-list govuk-list--number" start="44">
  <li>
    <p>Your organisation consents to the use of the Sub-Processors set out in Annex B.</p>
  </li>
  <li>
    <p>
      GDS may change its Sub-Processors from time to time. Before allowing a Sub-Processor to Process any Personal Data related to this MOU,
      GDS must:
    </p>

    <ol class="govuk-list app-list--alpha">
      <li>
        <p>have undertaken an information security assessment of the Sub-Processor to ensure compliance with all aspects of this MOU;</p>
      </li>
      <li>
        <p>have a written MOU with the Sub-Processor which commits them to continued compliance with all aspects of this MOU;</p>
      </li>
      <li>
        <p>notify your organisation in writing of the new Sub-Processor and type of Processing they will undertake; and</p>
      </li>
      <li>
        <p>provide your organisation with such information regarding the Sub-Processor as your organisation may reasonably require.</p>
      </li>
    </ol>
  </li>
  <li>
    <p>
      GDS shall email your organisation’s appointed representative named, of intended changes concerning the addition or replacement of a
      Sub-Processor, at least 15 calendar days before the change takes effect.
    </p>
  </li>
  <li>
    <p>
      If your organisation wishes to object to the Sub-Processor change, they must raise this by sending an email to GDS. Any proposed
      concerns need to be discussed and resolved by both Parties within these 15 days. Resolution may include not proceeding with the change
      to the Sub-Processor.
    </p>
  </li>
  <li>
    <p>If the Parties cannot resolve the objections raised by your organisation, then your organisation must commence termination.</p>
  </li>
  <li>
    <p>
      The Parties agree to take account of any non-mandatory published guidance issued by the Information Commissioner’s Office. Your
      organisation may request that this MOU is updated to comply with any guidance issued by the Information Commissioner’s Officer within
      30 calendar days of request to GDS.
    </p>
  </li>
  <li>
    <p>
      GDS agrees to Process the GOV.UK Forms User and Filler Personal Data in accordance with the requirements of this MOU, and in
      particular GDS agrees that it shall:
    </p>

    <ol class="govuk-list app-list--alpha">
      <li>
        <p>process the GOV.UK Forms User and Filler Personal Data only as set out in this MOU;</p>
      </li>
      <li>
        <p>
          process the GOV.UK Forms User and Filler Personal Data only to the extent, and in such manner, as is necessary to deliver the
          GOV.UK Forms service;
        </p>
      </li>
      <li>
        <p>
          comply with obligations of the applicable Data Protection Legislation and in particular implement appropriate technical and
          organisational measures to protect the GOV.UK Forms User and Filler Personal Data against unauthorised or unlawful Processing and
          against accidental loss, destruction, damage, alteration or disclosure. These measures shall ensure a level of security
          appropriate to the harm which might result from any unauthorised or unlawful Processing, accidental loss, destruction or damage to
          the GOV.UK Forms User and Filler Personal Data and having regard to the nature of the GOV.UK Forms User and Filler Personal Data
          which is to be protected;
        </p>
      </li>
      <li>
        <p>
          take reasonable steps to ensure the reliability of any personnel who have access to the GOV.UK Forms User and Filler Personal
          Data;
        </p>
      </li>
      <li>
        <p>
          transfer the GOV.UK Forms User and Filler Personal Data only to those Sub-Processors listed in Annex A or subsequently notified to
          your organisation;
        </p>
      </li>
      <li>
        <p>
          ensure that all personnel required to Process the GOV.UK Forms User and Filler Personal Data are informed of GDS’s obligations
          under this MOU with regard to the security and protection of GOV.UK Forms User and Filler Personal Data and that those obligations
          are complied with;
        </p>
      </li>
      <li>
        <p>
          ensure that no personnel publish, disclose or divulge any of the GOV.UK Forms User and Filler Personal Data to any third party
          unless directed in writing to do so by each of the Parties;
        </p>
      </li>
      <li>
        <p>
          if it receives a Data Subject Request under the applicable Data Protection Legislation, or any complaint in relation to GOV.UK
          Forms, to inform the complainant or requester that your organisation is the Data Controller and ask the User to contact your
          organisation DPO where appropriate.
        </p>
      </li>
    </ol>
  </li>
</ol>
<h2 class="govuk-heading-m" id="how-gov.uk-forms-deals-with-freedom-of-information-requests">
  How GOV.UK Forms deals with Freedom of Information requests
</h2>
<ol class="govuk-list govuk-list--number" start="51">
  <li>
    <p>
      Both GDS and your organisation agree to work with each other in order to comply with Requests For Information in line with the Law.
    </p>
  </li>
  <li>
    <p>
      When GDS or your organisation receives a request for information covered by this MOU, we agree to inform the respective main point of
      contact as soon as possible.
    </p>
  </li>
  <li>
    <p>
      Before responding to the requester, our organisations agree to consult with each other and share all information which we propose to
      disclose at least five working days before disclosure.
    </p>
  </li>
</ol>
<h2 class="govuk-heading-m" id="annex-a-definitions">Annex A: Definitions</h2>
<p>In this MOU the following words and phrases shall have the following meanings, unless expressly stated to the contrary:</p>

<p>
  <strong>Data Controller</strong>, <strong>Data Processor</strong>, <strong>Data Subject</strong>, <strong>Personal Data</strong>,
  <strong>Personal Data Breach</strong>, <strong>Data Protection Officer</strong> take the meaning given in the UK GDPR;
</p>
<p><strong>Clauses</strong> means the main body of this MOU excluding Annexes;</p>
<p>
  <strong>Data Loss Event</strong>: any event that results, or may result, in unauthorised access to Personal Data held by the Processor
  under this MOU, and/or actual or potential loss and/or destruction of Personal Data in breach of this MOU, including any Personal Data
  Breach;
</p>
<p>
  <strong>Data Protection Impact Assessment (DPIA)</strong> means an assessment by the Controller on the impact of the envisaged Processing
  on the protection of Personal Data;
</p>
<p><strong>Data Protection Legislation</strong> means:</p>

<ol class="govuk-list app-list--upper-roman">
  <li>
    <p>the UK GDPR as amended from time to time;</p>
  </li>
  <li>
    <p>the DPA 2018 to the extent that it relates to the processing of personal data and privacy;</p>
  </li>
  <li>
    <p>(to the extent that it applies) the EU GDPR; and</p>
  </li>
  <li>
    <p>all applicable Law relating to the processing of personal data and privacy;</p>
  </li>
</ol>

<p>
  <strong>Data Subject Request</strong>: a request made by, or on behalf of, a Data Subject in accordance with rights granted pursuant to
  the Data Protection Legislation;
</p>
<p><strong>DPA 2018</strong>: Data Protection Act 2018;</p>
<p>
  <strong>Environmental Information Regulations</strong> means the Environmental Information Regulations 2004, as amended, or Environmental
  Information Regulations (Scotland) 2004 (as appropriate), together with any guidance and/or codes of practice issued by the Information
  Commissioner or relevant Government Department in relation to such regulations;
</p>
<p>
  <strong>EU GDPR</strong> means Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection
  of natural persons with regard to the processing of personal data and on the free movement of such data (General Data Protection
  Regulation) as it has effect in EU law;
</p>
<p><strong>FOIA</strong> means the Freedom of Information Act 2000, as amended;</p>
<p><strong>FOISA</strong> means the Freedom of Information (Scotland) Act 2002;</p>
<p>
  <strong>Form Processor</strong> means the individual or business unit within your organisation that will receive forms completed using
  GOV.UK Forms;
</p>
<p>
  <strong>GOV.UK Forms User Personal Data</strong> means all personal and technical device data transferred from a user of the Forms
  platform (ie. those creating forms) to GDS pursuant to the GOV.UK Forms services made available under this MOU; This includes personal
  data required to set up a GOV.UK Forms Account, technical data about Form User’s devices such as IP address, web browsers and operating
  systems, and data about Form Users’ interactions with GOV.UK Forms which are captured in system logs.
</p>
<p>
  <strong>GOV.UK Forms Filler Personal Data</strong> means all personal data transferred when members of the public or businesses fill out
  and submit a form built by the GOV.UK Forms service, and transferred to your organisation to process.
</p>
<p>
  <strong>GOV.UK Forms Filler Technical Data</strong> means all technical device data, such as IP address, web browsers and operating
  systems, transferred when members of the public or businesses use and submit a form built by the GOV.UK Forms service.
</p>
<p>
  <strong>IAO</strong> means Information Asset Owner, namely the individual occupying the position of Information Asset Owner within your
  organisation organisation, who has asset ownership obligations in relation to the GOV.UK Forms Personal Data;
</p>
<p>
  <strong>Law</strong>: means any law, subordinate legislation within the meaning of Section 21(1) of the Interpretation Act 1978, bye-law,
  enforceable right within the meaning of Section 2 of the European Communities Act 1972, right within the meaning of the European Union
  (Withdrawal) Act 2018 as amended by European Union (Withdrawal MOU) Act 2020, regulation, order, regulatory policy, mandatory guidance or
  code of practice, judgement of a relevant court of law, or directives or requirements with which your organisation is bound to comply;
</p>
<p>
  <strong>Losses</strong> means all losses, liabilities, damages, costs, expenses (including legal fees), disbursements, costs of
  investigation, litigation, settlement, judgement, interest and penalties whether arising in contract, tort (including negligence), breach
  of statutory duty, misrepresentation or otherwise and "<strong>Loss</strong>" shall be interpreted accordingly;
</p>
<p>
  <strong>Processor Personnel</strong>: means all directors, officers, employees, agents, consultants and contractors of the Processor
  and/or of any Sub-Processor engaged in the performance of its obligations under this MOU;
</p>
<p>
  <strong>Protective Measures</strong>: appropriate technical and organisational measures which may include: pseudonymising and encrypting
  Personal Data, ensuring confidentiality, integrity, availability and resilience of systems and services, ensuring that availability of and
  access to Personal Data can be restored in a timely manner after an incident, and regularly assessing and evaluating the effectiveness of
  the such measures adopted by it including those outlined in Clause 10;
</p>
<p>
  <strong>Request for Information</strong> means a request for information or a request under FOIA or the Environmental Information
  Regulations;
</p>
<p><strong>Sub-Processor</strong>: any third party appointed to Process Personal Data on behalf of that Processor related to this MOU;</p>
<p>
  <strong>UK GDPR</strong> means Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection
  of natural persons with regard to the processing of personal data and on the free movement of such data (United Kingdom General Data
  Protection Regulation), as it forms part of the law of England and Wales, Scotland and Northern Ireland by virtue of section 3 of the
  European Union (Withdrawal) Act 2018, together with the Data Protection, Privacy and Electronic Communications (Amendments etc.) (EU Exit)
  Regulations 2019;
</p>
<p><strong>Your organisation</strong> means the organisation that is consuming the GOV.UK Forms service.</p>

<h2 class="govuk-heading-m" id="annex-b-gov.uk-forms-data-sub-processors">Annex B: GOV.UK Forms data sub-processors</h2>
<p>List complete as at 06 November 2023.</p>
<h3 class="govuk-heading-s" id="infrastructure-as-a-service-provider-and-email-sub-processor">
  Infrastructure as a Service provider and email sub-processor
</h3>
<p>Amazon Web Services (Company Number: 08650665)</p>

<p>
  1 Principal Place<br />
  Worship Street<br />
  London<br />
  EC2A 2FA<br />
</p>

<h3 class="govuk-heading-s" id="application-logging-and-alerting">Application logging and alerting</h3>
<p>Splunk</p>

<p>
  Thames Tower<br />
  Station Rd.<br />
  Reading<br />
  RG1 1LX<br />
</p>

<h3 class="govuk-heading-s" id="customer-service-platform-provider">Customer service platform provider</h3>
<p>Zendesk (Company Number: 07622459)</p>

<p>
  30 Eastbourne Terrace<br />
  London<br />
  W2 6LA<br />
</p>

<h3 class="govuk-heading-s" id="user-authentication">User authentication</h3>
<p>Auth0 by Okta</p>

<p>
  OKTA EMEA HEADQUARTERS <br />
  20 Farringdon Road <br />
  London <br />
  EC1M 3HE <br />
  United Kingdom <br />
</p>
<h2 class="govuk-heading-m" id="annex-c-gov.uk-forms-data-retention-times">Annex C: GOV.UK Forms data retention times</h2>
<h3 class="govuk-heading-s" id="cabinet-office">Cabinet Office</h3>
<p>Personal Data is retained for 7 days by default and for up to 90 days by request. Non-Personal Data is retained indefinitely.</p>
<h3 class="govuk-heading-s" id="amazon-web-services">Amazon Web Services</h3>
<p>Personal Data is retained for 30 days. Non-Personal Data is retained indefinitely.</p>
<h3 class="govuk-heading-s" id="zendesk">Zendesk</h3>
<p>Personal Data is retained for 1-2 years. Non-Personal Data is retained indefinitely.</p>
<h3 class="govuk-heading-s" id="co-cyber-security-splunk">CO Cyber Security / Splunk</h3>
<p>Application logs are retained for 12 months.</p>
<h3 class="govuk-heading-s" id="auth-by-okta">Auth0 by Okta</h3>
<p>Logs are retained for 2 days. User profile data (email address) is retained until deleted. Users inactive for 12 months will be deleted.</p>
<h2 class="govuk-heading-m" id="annex-d-gov.uk-forms-schedule-of-processing-personal-data-and-data-subjects">
  Annex D: GOV.UK Forms schedule of processing, personal data and data subjects
</h2>
<p>
  Annex D provides a general description of how GOV.UK Forms will process Personal Data on behalf of your organisation as controller. The
  Annex will be supplemented by the content of the forms your organisation creates using the GOV.UK Forms platform, and this content will
  constitute your further documented instructions as to how GDS may process personal data on your behalf for the purposes of Article
  28(3)(a) of UK GDPR.
</p>
<h3 class="govuk-heading-s" id="subject-matter-of-the-processing">Subject matter of the Processing</h3>
<p>
  To support the running of government services, GOV.UK Forms collects Personal and Non-Personal Data from members of the public and
  businesses so that your organisation can make decisions about them.
</p>
<h3 class="govuk-heading-s" id="duration-of-the-processing">Duration of the Processing</h3>
<p>
  Processing is typically complete within 7 days, however there is a potential for your organisation to request that GDS retains their data
  for up to 90 days (see data retention periods above).
</p>
<p>
  Third party suppliers that distribute the notifications for GOV.UK Notify will retain the data for up to 12 months for audit and billing
  purposes.
</p>
<h3 class="govuk-heading-s" id="nature-and-purposes-of-the-processing">Nature and purposes of the Processing</h3>
<p>GOV.UK Forms collects Personal Data for the purposes of Processing forms that are submitted by members of the public and businesses.</p>
<p>
  GOV.UK Forms also collects Personal Data for the purposes of monitoring and alerting on application performance and platform security.
</p>
<p>GOV.UK Forms uses third party suppliers to deliver emails to your organisation and to manage customer support.</p>
<p>Once the relevant retention period has been reached, GOV.UK Forms Personal Data is deleted by GDS and third party suppliers.</p>
<p>
  The purposes of government forms are many and varied, but generally fall into the categories of licences, permits, registrations,
  reporting, taxation, refunds, requesting support, renewals, records changes, exemptions, appeals, correspondence, public engagement and
  procurement.
</p>
<h3 class="govuk-heading-s" id="types-of-personal-data">Types of Personal Data</h3>
<p>
  The types of Personal Data collected in government forms will be dependent on the form that has been provided, but generally will include
  name, identification number, location data and other data that could identify an individual both directly or indirectly.
</p>
<p>
  Where needed for the service, forms may also collect special category data and information relating to criminal convictions and offences.
</p>
<h3 class="govuk-heading-s" id="categories-of-data-subject">Categories of Data Subject</h3>
<p>Includes members of the public and people employed by businesses or other organisations.</p>
<h3
  class="govuk-heading-s"
  id="plan-for-return-or-destruction-of-the-data-once-the-processing-is-complete-unless-required-under-union-or-member-state-law-to-preserve-that-type-of-data"
>
  Plan for return or destruction of the data once the Processing is complete, unless required under union or member state Law to preserve
  that type of data
</h3>
<p>
  Personal Data is automatically deleted at the end of the data retention period, which for GOV.UK Forms and its third party providers
  ranges between 7 days and 2 years (see data retention periods above). This is the case as part of routine Processing, and at termination
  of this Agreement.
</p>
<h2 class="govuk-heading-m" id="annex-e-how-gov.uk-forms-protects-your-data">Annex E: How GOV.UK Forms protects your data</h2>
<p>
  This section provides an overview of the security measures provided by the GOV.UK Forms service. It is intended to assist you with
  deciding whether the service is suitable for your needs.
</p>
<h3 class="govuk-heading-s" class="govuk-heading-s">Hosting</h3>
<p>
  GOV.UK Forms is hosted on <a href="https://aws.amazon.com/">AWS</a> in their London Region. Data is stored within AWS Relational Database
  Service with frequent backups. All components have built in redundancy where possible..
</p>
<h3 class="govuk-heading-s" class="govuk-heading-s">Service design</h3>
<p>
  GOV.UK Forms has been designed to align with government cyber security standards, including the
  <a href="https://www.gov.uk/government/publications/the-minimum-cyber-security-standard">Minimum Cyber Security Standard</a>, the
  <a href="https://www.gov.uk/service-manual/service-standard">Service Standard</a>
  and relevant guidance published by the NCSC, the UK’s national authority for cyber security.
</p>
<p>Threat modelling and risk assessments are used to identify where additional security measures may be necessary.</p>
<h3 class="govuk-heading-s" class="govuk-heading-s">Personnel security controls</h3>
<p>
  Operations staff within GDS and its supply chain who support GOV.UK Forms are required to successfully complete pre-employment screening
  in accordance with the Baseline Personnel Security Standard or an equivalent commercial screening process.
</p>
<h3 class="govuk-heading-s" class="govuk-heading-s">Separation between customers</h3>
<p>Organisations can only create and edit their own forms.</p>
<h3 class="govuk-heading-s" class="govuk-heading-s">Use of Notify</h3>
<p>
  GOV.UK Forms uses the
  <a href="https://www.notifications.service.gov.uk/features/security">GOV.UK Notify service</a>
  to deliver form response data to your organisation via email messages.
</p>
<h3 class="govuk-heading-s" class="govuk-heading-s">Protection of data in transit</h3>
<p>Within GOV.UK Forms, form response data will be encrypted in transit as follows:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <p>Between citizens’ browsers and online forms, by using TLS V1.2</p>
  </li>
  <li>
    <p>Between your users’ browsers and the GOV.UK Forms administration interface, by using TLS V1.2</p>
  </li>
  <li>
    <p>Between GOV.UK Forms and its 3rd party processors, by using TLS V1.2</p>
  </li>
  <li>
    <p>
      Between Notify and your designated mailbox for receiving submitted form responses, by using TLS V1.2 if your mail server supports this
    </p>
  </li>
</ul>
<h3 class="govuk-heading-s" class="govuk-heading-s">Protection of data at rest</h3>
<p>
  Form response data will be encrypted at rest using
  <a href="https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/at-rest-encryption.html"
    >AWS At-Rest Encryption in ElastiCache for Redis</a
  >
  whilst it is being temporarily stored by GOV.UK Forms.
</p>
<p>Amazon RDS PostgreSQL is used to store form configuration and user account details.</p>
<h3 class="govuk-heading-s" class="govuk-heading-s">Vulnerability management</h3>
<p>
  Software code is subject to security testing during the software development process and the production environment is subject to
  continuous vulnerability scanning using
  <a href="https://www.ncsc.gov.uk/information/web-check">NCSC’s Web Check</a>.
</p>
<p>
  The service is subject to independent penetration testing at least annually and prior to major functional feature releases. Any findings
  are risk assessed and managed in accordance with GDS’s risk appetite.
</p>
<h3 class="govuk-heading-s" class="govuk-heading-s">Event logging and protective monitoring</h3>
<p>
  GDS generates and retains event logs of the systems and applications that deliver GOV.UK Forms and the service is protectively monitored
  for indicators of compromise.
</p>
<h3 class="govuk-heading-s" class="govuk-heading-s">Governance</h3>
<p>
  During its development, GOV.UK Forms was subject to independent service assessments. In addition, GDS Information Assurance maintains an
  independent information risk assessment of the service, reporting to the GDS Senior Leadership Team.
</p>

<p><a class="govuk-link govuk-!-display-none-print" href="#main-content">Back to top</a></p>
