<p class="govuk-body-m">Last updated: 25 February 2026<br>
  Version NCP1.0</p>

<h2 id="about-this-document" class="govuk-heading-m">About this document</h2>

<p class="govuk-body-m">Your organisation is being given access to GOV.UK Forms on the basis that it is participating in
  a pilot programme. This pilot allows a limited number of local authorities to use and test the GOV.UK Forms platform
  before it’s rolled out more widely. You should only approve this agreement if your local authority has been invited to
  participate in the local authority pilot programme by GDS. If you’re not sure, contact us at
  <a href="mailto:govuk-forms@digital.cabinet-office.gov.uk"
     class="govuk-link">govuk-forms@digital.cabinet-office.gov.uk</a>.
</p>

<p class="govuk-body-m">This agreement covers Your Organisation’s use of the GOV.UK Forms platform.</p>

<p class="govuk-body-m">Before anyone in Your Organisation can make forms live on the GOV.UK Forms platform, someone
  must accept this agreement on behalf of the organisation.</p>

<p class="govuk-body-m">Our intention is to replace this agreement with another, more permanent version at the end of
  the pilot. This version of the agreement will persist until replaced by the replacement agreement or terminated by one
  of the parties in accordance with the terms of the agreement. GDS will supply Your Organisation with the text of any
  replacement agreement at least one month before this agreement terminates and the replacement agreement comes into
  effect.</p>

<p class="govuk-body-m">When individuals in Your Organisation start using GOV.UK Forms, we require them to agree to
  <a href="https://www.forms.service.gov.uk/terms-of-use" class="govuk-link">terms of use</a> covering their individual
  use of the platform. The terms of use repeat some of the same information to help make sure individual users know
  about it.
</p>

<h2 id="1-about-gov-uk-forms" class="govuk-heading-m">1. About GOV.UK Forms</h2>

<p class="govuk-body-m">1.1 GOV.UK Forms is a web-based platform owned and operated by GDS. People working for public
  sector organisations can use the platform to create and publish online forms quickly, without needing any technical
  knowledge. The platform is designed to help organisations meet public sector standards when publishing forms,
  including accessibility standards.</p>

<p class="govuk-body-m">1.2 The GOV.UK Forms team within GDS develops, maintains and runs the GOV.UK Forms platform.
  Your Organisation gets access to the GOV.UK Forms platform, where form creators can create and manage online forms.
</p>

<p class="govuk-body-m">1.3 When Your Organisation creates online forms, at your request, GOV.UK Forms collects
  information from members of the public and businesses. As GOV.UK Forms processes the Personal Data from members of the
  public and businesses on behalf of Your Organisation, GDS is a Data Processor for Your Organisation.</p>

<p class="govuk-body-m">1.4 When GOV.UK Forms processes completed forms, GDS transfers the Personal Data of members of
  the public and businesses to Your Organisation using the delivery method configured for the form. This agreement
  covers those transfers of Personal Data.</p>

<h2 id="2-nature-and-duration-of-agreement" class="govuk-heading-m">2. Nature and duration of agreement</h2>

<p class="govuk-body-m">2.1 This agreement is between the Government Digital Service (“GDS”), part of the Department for
  Science, Innovation &amp; Technology (“DSIT”) and Your Organisation (together the “Parties”). The parties agree to be
  bound by these terms of this agreement. This agreement, which shall cover all the forms Your Organisation publishes
  using GOV.UK Forms.</p>

<p class="govuk-body-m">2.2 This agreement shall include the Annexes set out below (including the Security provisions
  and Data protection provisions), and shall be interpreted in accordance with Annex A.</p>

<p class="govuk-body-m">2.3 By accepting this agreement on behalf of Your Organisation, you confirm that you are
  authorised to do so.</p>

<p class="govuk-body-m">2.4 For this agreement, the main point of contact for GDS is:<br>
  <a href="mailto:govuk-forms@digital.cabinet-office.gov.uk"
     class="govuk-link">govuk-forms@digital.cabinet-office.gov.uk</a>
</p>

<p class="govuk-body-m">2.5 For Your Organisation, the main point of contact will be the user who agrees on behalf of
  the organisation. This may be more than one user.</p>

<p class="govuk-body-m">2.6 The agreement shall start when you accept this agreement on behalf of Your Organisation and
  shall continue while GDS continues to operate the GOV.UK Forms Platform, unless terminated by either of the Parties.
  Either Party shall have the right to terminate this agreement by providing the other with no less than 1 month’s
  notice by email.</p>

<p class="govuk-body-m">2.7 GDS reserves the right to refuse to host, or to cease hosting forms and to delete them from
  the platform and remove links from GOV.UK, where in GDS’s reasonable opinion publishing the forms would:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>risk bringing GDS or GOV.UK into disrepute;- have an adverse impact on GDS’s ability to handle traffic on the
    GOV.UK Forms platform; or
  </li>
  <li>otherwise compromise GDS’s ability to operate GOV.UK or the GOV.UK Forms platform</li>
</ul>

<h2 id="3-changes-to-this-agreement" class="govuk-heading-m">3. Changes to this agreement</h2>

<p class="govuk-body-m">3.1 GDS may vary the terms of this agreement from time to time. Often these variations will
  reflect the release of new functionality or improvements to the GOV.UK Forms platform. Subject to Subclause 3.2 below,
  GDS will notify you of any such variation as soon as is practicable after the relevant technical changes have been
  made.</p>

<p class="govuk-body-m">3.2 GDS agrees to give Your Organisation no less than: (a) 15 calendar days notice of any
  variations to this agreement which reflect the appointment of a new Sub-Processor or a change to the geographic region
  in which GOV.UK Forms infrastructure is hosted; or (b) no less than 6 months notice of any changes which will
  introduce or vary charges for Your Organisation’s use of the GOV.UK Forms platform.</p>

<p class="govuk-body-m">3.3 GDS will notify Your Organisation about any variations to this agreement by emailing a
  summary of the changes to: (a) the person or people who agreed to this agreement on behalf of Your Organisation;
  and/or (b) the person or people acting as Organisation Admins for Your Organisation at the time. The changes shall
  come into effect immediately unless the email specifies an alternative effective date.</p>

<p class="govuk-body-m">3.4 No action is required by Your Organisation if you accept the variation. If Your Organisation
  doesn’t wish to accept the variation, you must: (a) notify GDS; and (b) unpublish any forms Your Organisation has
  published on the GOV.UK Forms platform. This agreement shall cease when GDS has been notified, any forms have been
  unpublished and GDS has ceased processing personal information on behalf of Your Organisation.</p>

<h2 id="4-liability" class="govuk-heading-m">4. Liability</h2>

<p class="govuk-body-m">4.1 Nothing in this Clause 4 shall affect either Party’s general duty to mitigate its loss.</p>

<p class="govuk-body-m">4.2 Nothing in this agreement shall be construed to limit or exclude either Party’s liability
  for: (a) death or personal injury caused by its negligence or that of its staff; (b) bribery, fraud or fraudulent
  misrepresentation by it or that of its staff; or (c) any other matter which, by Law, may not be excluded or limited.
</p>

<p class="govuk-body-m">4.3 Subject to Subclause 4.2 above, the aggregate liability of either Party under or in
  connection with this agreement over its term, including any default under this agreement, will in no event exceed
  £5,000. For the avoidance of doubt, this cap on liability does not apply to breaches of the Data Protection
  Legislation by either party. In these cases, the relevant authority (currently ICO) will decide on liability and
  apportion it directly where it deems the liability lies.</p>

<p class="govuk-body-m">4.4 Subject to Subclause 4.2 above, in no event shall either Party be liable to the other Party
  for any: (a) loss of profits; (b) loss of business; (c) loss of revenue; (d) loss of or damage to goodwill; (e) loss
  of savings (whether anticipated or otherwise); and/or (f) indirect, special or consequential loss or damage.</p>

<h2 id="5-consideration-governing-law-and-dispute-resolution" class="govuk-heading-m">5. Consideration, governing law
  and dispute resolution</h2>

<p class="govuk-body-m">5.1 GDS shall enter into this agreement in consideration of Your Organisation disclosing the
  GOV.UK Forms User Personal Data to GDS. The Parties now acknowledge that this consideration is sufficient to create a
  contract, and that they intend this agreement to be a contract.</p>

<p class="govuk-body-m">5.2 This agreement and/or any non-contractual obligations or matters arising out of it will be
  governed by and construed in accordance with the laws of England and Wales. Each Party agrees to submit to the
  exclusive jurisdiction of the courts of England and Wales, and for all disputes to be conducted in this jurisdiction.
</p>

<p class="govuk-body-m">5.3 The Parties will attempt to resolve any disputes concerning this agreement by discussions in
  good faith, and through mediation where appropriate. If either party forms the reasonable opinion that the dispute
  cannot be settled through these means, that party may exercise its legal rights under Subclause 5.2 above.</p>

<h2 id="6-freedom-of-information-requests" class="govuk-heading-m">6. Freedom of information requests</h2>

<p class="govuk-body-m">6.1 The Parties agree to work with each other in order to comply with Requests For Information
  in line with the Law.</p>

<p class="govuk-body-m">6.2 The Parties agree that if either one receives a request for information covered by this
  agreement, they will inform the main point of contact at the other party as soon as possible.</p>

<p class="govuk-body-m">6.3 Before responding to the requester, the Parties agree to consult with each other and share
  all information they propose to disclose at least five working days prior to making the disclosure.</p>

<h2 id="annex-a-definitions" class="govuk-heading-m">Annex A: Definitions</h2>

<p class="govuk-body-m">In this agreement the following words and phrases shall have the following meanings, unless
  expressly stated to the contrary:</p>

<p class="govuk-body-m"><strong>Data Controller</strong>, <strong>Data Processor</strong>,
  <strong>Data Subject</strong>, <strong>Personal Data</strong>,
  <strong>Personal Data Breach</strong>,
  <strong>Data Protection Officer</strong> take the meaning given in the UK GDPR;
</p>

<p class="govuk-body-m"><strong>Data Loss Event</strong>: any event that results, or may result, in unauthorised access
  to Personal Data held by the Processor under this agreement, and/or actual or potential loss and/or destruction of
  Personal Data in breach of this agreement, including any Personal Data Breach;</p>

<p class="govuk-body-m"><strong>Data Protection Impact Assessment (DPIA)</strong> means an assessment by the Controller
  on the impact of the envisaged Processing on the protection of Personal Data;</p>

<p class="govuk-body-m"><strong>Data Protection Legislation</strong>
  means:</p>
<ol class="govuk-list app-list--upper-roman">
  <li>the UK GDPR as amended from time to time;</li>
  <li>the DPA 2018 to the extent that it relates to the processing of personal data and privacy;</li>
  <li>(to the extent that it applies) the EU GDPR; and</li>
  <li>all applicable Law relating to the processing of personal data and privacy;</li>
</ol>

<p class="govuk-body-m"><strong>Data Subject Request</strong>: a request made by, or on behalf of, a Data Subject in
  accordance with rights granted pursuant to the Data Protection Legislation;</p>

<p class="govuk-body-m"><strong>DPA 2018</strong>: Data Protection Act 2018;</p>

<p class="govuk-body-m"><strong>Environmental Information Regulations</strong> means the Environmental Information
  Regulations 2004, as amended, or Environmental Information Regulations (Scotland) 2004 (as appropriate), together with
  any guidance and/or codes of practice issued by the Information Commissioner or relevant Government Department in
  relation to such regulations;</p>

<p class="govuk-body-m"><strong>EU GDPR</strong> means Regulation (EU) 2016/679 of the European Parliament and of the
  Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on
  the free movement of such data (General Data Protection Regulation) as it has effect in EU law;</p>

<p class="govuk-body-m"><strong>FOIA</strong> means the Freedom of Information Act 2000, as amended;</p>

<p class="govuk-body-m"><strong>FOISA</strong> means the Freedom of Information (Scotland) Act 2002;</p>

<p class="govuk-body-m"><strong>Form Processor</strong> means the individual or business unit within Your Organisation
  that will receive forms completed using GOV.UK Forms;</p>

<p class="govuk-body-m"><strong>GOV.UK Forms User Personal Data</strong> means all personal and technical device data
  transferred from a user of the Forms platform (i.e. those creating forms) to GDS pursuant to the GOV.UK Forms services
  made available under this agreement. This includes personal data required to set up a GOV.UK Forms Account, technical
  data about Form User’s devices such as IP address, web browsers and operating systems, and data about Form Users’
  interactions with GOV.UK Forms which are captured in system logs.</p>

<p class="govuk-body-m"><strong>GOV.UK Forms Filler Personal Data</strong> means all personal data transferred when
  members of the public or businesses fill out and submit a form built by the GOV.UK Forms service, and transferred to
  Your Organisation to process.</p>

<p class="govuk-body-m"><strong>GOV.UK Forms Filler Technical Data</strong> means all technical device data, such as IP
  address, web browsers and operating systems, transferred when members of the public or businesses use and submit a
  form built by the GOV.UK Forms service.</p>

<p class="govuk-body-m"><strong>IAO</strong> means Information Asset Owner, namely the individual occupying the position
  of Information Asset Owner within Your Organisation organisation, who has asset ownership obligations in relation to
  the GOV.UK Forms Personal Data;</p>

<p class="govuk-body-m"><strong>Law</strong>: means any law, subordinate legislation within the meaning of Section 21(1)
  of the Interpretation Act 1978, bye-law, enforceable right within the meaning of Section 2 of the European Communities
  Act 1972, right within the meaning of the European Union (Withdrawal) Act 2018 as amended by European Union
  (Withdrawal MOU) Act 2020, regulation, order, regulatory policy, mandatory guidance or code of practice, judgement of
  a relevant court of law, or directives or requirements with which Your Organisation is bound to comply;</p>

<p class="govuk-body-m"><strong>Losses</strong> means all losses, liabilities, damages, costs, expenses (including legal
  fees), disbursements, costs of investigation, litigation, settlement, judgement, interest and penalties whether
  arising in contract, tort (including negligence), breach of statutory duty, misrepresentation or otherwise and
  “<strong>Loss</strong>” shall be interpreted accordingly;</p>

<p class="govuk-body-m"><strong>Organisation Admin</strong> means the person or people within Your Organisation who
  carry out administration functions related to access to the GOV.UK Forms platform;</p>

<p class="govuk-body-m"><strong>Processor Personnel</strong>: means all directors, officers, employees, agents,
  consultants and contractors of the Processor and/or of any Sub-Processor engaged in the performance of its obligations
  under this agreement;</p>

<p class="govuk-body-m"><strong>Protective Measures</strong>: appropriate technical and organisational measures which
  may include: pseudonymising and encrypting Personal Data, ensuring confidentiality, integrity, availability and
  resilience of systems and services, ensuring that availability of and access to Personal Data can be restored in a
  timely manner after an incident, and regularly assessing and evaluating the effectiveness of the such measures adopted
  by it (including those outlined in Annexes B and C below);</p>

<p class="govuk-body-m"><strong>Request for Information</strong> means a request for information or a request under FOIA
  or the Environmental Information Regulations;</p>

<p class="govuk-body-m"><strong>Sub-Processor</strong>: any third party appointed to Process Personal Data on behalf of
  that Processor related to this agreement;</p>

<p class="govuk-body-m"><strong>UK GDPR</strong> means Regulation (EU) 2016/679 of the European Parliament and of the
  Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on
  the free movement of such data (United Kingdom General Data Protection Regulation), as it forms part of the law of
  England and Wales, Scotland and Northern Ireland by virtue of section 3 of the European Union (Withdrawal) Act 2018,
  together with the Data Protection, Privacy and Electronic Communications (Amendments etc.) (EU Exit) Regulations 2019;
  and</p>

<p class="govuk-body-m"><strong>Your Organisation</strong> means the organisation that is creating forms and/or
  receiving user data through the GOV.UK Forms service.</p>

<h2 id="annex-b-security-provisions" class="govuk-heading-m">Annex B: Security provisions</h2>

<p class="govuk-body-m">1. You must not use GOV.UK Forms to handle data classified as SECRET or higher.</p>

<p class="govuk-body-m">2. Your Organisation is responsible for deciding whether or not GOV.UK Forms is suitable to
  handle the information you wish to collect using online forms. A description of the measures GDS has taken to protect
  data is described in Annex G below.</p>

<p class="govuk-body-m">3. You must ensure that your users of GOV.UK Forms follow good security practices when accessing
  the service, including:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>using end-user devices that are being managed in accordance with the requirements of
    <a href="https://www.security.gov.uk/standards/cyber_standard" class="govuk-link">The Cyber Security Standard</a>
    (and its successor standards)
  </li>
  <li>not connecting their end-user devices to untrusted WiFi networks, such as those found in public places like cafes
    and hotels
  </li>
  <li>using a secure email inbox to set up an account and access GOV.UK Forms login codes, with MFA (known as “2SV” or
    “2 step verification”) to access the inbox or device
  </li>

</ul>

<p class="govuk-body-m">4. If it is suspected that a user’s GOV.UK Forms account has been compromised you shall
  immediately notify the GOV.UK Forms team.</p>

<p class="govuk-body-m">5. You shall ensure that the GOV.UK Forms team is promptly notified when a user in Your
  Organisation no longer requires access to the Forms administration interface.</p>

<p class="govuk-body-m">6. You are responsible for the security and configuration of any system you use to receive form
  response data including, but not limited to, email servers, APIs or cloud storage buckets.</p>

<p class="govuk-body-m">7. You must ensure any mailbox(es) you use to receive form response data meets the
  <a href="https://www.gov.uk/guidance/securing-government-email" class="govuk-link">government secure email policy</a>.
</p>

<p class="govuk-body-m">8. You are responsible for managing and securing access to form response data within Your
  Organisation and for ensuring that only authorised individuals or systems can access that data.</p>

<p class="govuk-body-m">9. You may want to implement rules on your mail server to restrict who or what can send emails
  to the mailbox. For example, you could configure it to only accept messages sent from the GOV.UK Forms service.</p>

<p class="govuk-body-m">10. You should also bear in mind that email addresses provided by users (in a submission) have
  not been validated, so may not be correct addresses.</p>

<p class="govuk-body-m">11. It is not possible to reply to submission emails from GOV.UK Forms.</p>

<p class="govuk-body-m">12. Parties should report any messages received by this mailbox that are outside of the email
  output expected from the GOV.UK Forms service (e.g. incorrect content format, incorrect sender or bulk messages sent
  through the service), to the GOV.UK Forms team (see Clause 2 above).</p>

<p class="govuk-body-m">13. You are responsible for checking that form response data received from GOV.UK Forms is safe
  before you consume it.</p>

<p class="govuk-body-m">14. Forms created using GOV.UK Forms are unauthenticated and could be completed by anyone. You
  are responsible for including identification and authentication mechanisms within your downstream processes if these
  are required.</p>

<h2 id="annex-c-data-protection-provisions" class="govuk-heading-m">Annex C: Data protection provisions</h2>

<h3 id="1-compliance-with-data-protection-legislation" class="govuk-heading-s">1. Compliance with Data Protection
  Legislation</h3>

<p class="govuk-body-m">1.1 The parties agree that for GOV.UK Forms User Personal Data and GOV.UK Forms Filler Technical
  Device Data processed under this agreement, GDS shall be a Data Controller. GDS shall ensure compliance with
  applicable Data Protection Legislation at all times during the Term of this agreement in relation to this data.</p>

<p class="govuk-body-m">1.2 The Parties agree that for the purpose of GOV.UK Form Filler Personal Data processed under
  this agreement, GDS shall be a Data Processor and Your Organisation shall be a Data Controller. This agreement is
  intended to comply with GDPR Article 28 and/or DPA 2018 section 59, in accordance with section 209(3) of the DPA 2018.
</p>

<p class="govuk-body-m">1.3 As Data Controller, Your Organisation is responsible for ensuring that:</p>
<ol class="govuk-list app-list--lower-alpha">
  <li>it is permitted by Law to transfer Personal Data to GDS as its data processor;</li>
  <li>it has the Data Subject’s consent, where necessary, to use GDS to collect personal data and for GDS and its
    Sub-Processors to send messages to Your Organisation and users;
  </li>
  <li>it complies with the Data Protection Legislation for each of the Data Subjects. This will include ensuring the
    Personal Data is kept up to date, and only retained for as long as required; and
  </li>
  <li>The contact details of Your Organisation’s Form Processor remains accurate and up to date; and</li>
  <li>that privacy notices for any of your services using GOV.UK Forms are accessible to those service’s Data Subjects.
  </li>
</ol>

<h3 id="2-protection-of-personal-data" class="govuk-heading-s">2. Protection of Personal Data</h3>

<p class="govuk-body-m">2.1 GDS will not disclose GOV.UK Forms User or Filler Personal Data to any outside organisation
  other than as set out in this agreement, unless required by Law.</p>

<p class="govuk-body-m">2.2 GDS shall notify Your Organisation immediately if it considers that any of your instructions
  infringe the applicable Data Protection Legislation (but any such notification does not constitute legal advice, and
  Your Organisation remains solely responsible for determining the legality of its instructions).</p>

<p class="govuk-body-m">2.3 GDS shall provide all reasonable assistance to Your Organisation in the preparation of any
  Data Protection Impact Assessment required under applicable Data Protection Legislation, prior to commencing any
  Processing. Such assistance may, at the discretion of Your Organisation, include:</p>
<ol class="govuk-list app-list--lower-alpha" type="a">
  <li>a systematic description of the envisaged Processing operations and the purpose of the Processing;
  </li>
  <li>an assessment of the necessity and proportionality of the Processing operations;</li>
  <li>an assessment of the risks to the rights and freedoms of Data Subjects; and</li>
  <li>the measures envisaged to address the risks, including safeguards, security measures and mechanisms to ensure the
    protection of Personal Data.
  </li>
</ol>

<p class="govuk-body-m">2.4 GDS shall, in relation to the GOV.UK Forms User Personal Data:</p>
<ol class="govuk-list app-list--lower-alpha">
  <li>process that Personal Data only in accordance with the Schedule of Processing, Personal Data and Data Subjects
    (Annex F) unless GDS is required to do otherwise by Law. If it is so required GDS shall promptly notify Your
    Organisation before Processing the Personal Data unless prohibited by Law; and
  </li>
  <li>
    ensure that it has in place Protective Measures, which are appropriate to protect against a Data Loss Event, which
    Your Organisation may reasonably reject (but failure to reject shall not amount to approval by Your Organisation of
    the adequacy of the Protective Measures), having taken account of the:
    <ol class="govuk-list app-list--lower-roman">
      <li>nature of the data to be protected;</li>
      <li>harm that might result from a Data Loss Event;</li>
      <li>state of technological development; and</li>
      <li>cost of implementing any measures.</li>
    </ol>
  </li>

</ol>

<p class="govuk-body-m">2.5 GDS shall ensure that:</p>
<ol class="govuk-list app-list--lower-alpha">
  <li>Processor Personnel do not Process Personal Data except in accordance with this agreement (and in particular the
    Annexes setting out Security Provisions and Data Protection Provisions);
  </li>
  <li>it takes all reasonable steps to ensure the reliability and integrity of any Processor Personnel who have access
    to the Personal Data and ensure that they:
    <ol class="govuk-list app-list--lower-roman">
      <li>are aware of and comply with the GDS duties under this paragraph;</li>
      <li>are subject to appropriate confidentiality undertakings with GDS or any Sub-Processor;</li>
      <li>are informed of the confidential nature of the Personal Data and do not publish, disclose or divulge any of
        the Personal Data to any third party unless directed in writing to do so by Your Organisation or as otherwise
        permitted by this agreement; and
      </li>
      <li>have undergone adequate training in the use, care, protection and handling of Personal Data.</li>
    </ol>
  </li>
  <li>where the GOV.UK Forms User and Filler Personal Data is subject to the UK GDPR, it will not transfer Personal Data
    outside of the United Kingdom unless either:
    <ol class="govuk-list app-list--lower-roman">
      <li>the transfer is in accordance with Article 45 of the UK GDPR or section 17A of DPA 2018; or</li>
      <li>the prior written consent of Your Organisation has been obtained and the following conditions are fulfilled:
        <ol class="govuk-list govuk-list--number">
          <li>GDS or Your Organisation has provided appropriate safeguards in relation to the transfer (whether in
            accordance with Article 46 of the UK GDPR or section 75 of DPA 2018) as determined by Your Organisation
            (which could include relevant parties entering into the International Data Transfer MOU or International
            Data Transfer MOU Addendum to the European Commission’s SCCs as published by the Information Commissioner’s
            Office), as well as any additional measures determined by Your Organisation;
          </li>
          <li>the Data Subject has enforceable rights and effective legal remedies;</li>
          <li>GDS complies with its obligations under the Data Protection Legislation by providing an adequate level of
            protection to any Personal Data that is transferred; and
          </li>
          <li>GDS complies with any reasonable instructions notified to it in advance by Your Organisation with respect
            to the Processing of the Personal Data.
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>where the Personal Data is subject to the EU GDPR, it will not transfer such Personal Data outside of the European
    Union unless either:
    <ol class="govuk-list app-list--lower-roman">
      <li>the transfer is in accordance with Article 45 of the EU GDPR; or</li>
      <li>the prior written consent of Your Organisation has been obtained and the following conditions are fulfilled:
        <ol class="govuk-list govuk-list--number">
          <li>GDS or Your Organisation has provided appropriate safeguards in relation to the transfer in accordance
            with Article 46 of the EU GDPR as determined by Your Organisation which could include relevant parties
            entering into Standard Contractual Clauses in the European Commission’s decision 2021/914/EU set out in
            Annex 3 to Schedule 31 (Processing Personal Data) or such updated version of such Standard Contractual
            Clauses as are published by the European Commission from time to time as well as any additional measures
            determined by GDS;
          </li>
          <li>the Data Subject has enforceable rights and effective legal remedies;</li>
          <li>GDS complies with its obligations under the Data Protection Legislation by providing an adequate level of
            protection to any Personal Data that is transferred;
          </li>
          <li>GDS complies with any reasonable instructions notified to it in advance by Your Organisation with respect
            to the Processing of the Personal Data; and
          </li>
          <li>at the written direction of Your Organisation, delete or return Personal Data (and any copies of it) to
            Your Organisation on termination of this agreement, unless GDS is required by Law to retain the Personal
            Data.
          </li>
        </ol>
      </li>
    </ol>
  </li>
</ol>

<p class="govuk-body-m"> 2.6 GDS shall notify Your Organisation promptly (and in any event in sufficient time for Your
  Organisation to comply with its own obligations under applicable Data Protection Legislation) if it:</p>
<ol class="govuk-list app-list--lower-alpha">
  <li>receives a Data Subject Request (or purported Data Subject Request);</li>
  <li>receives a request to rectify, block or erase any Personal Data;</li>
  <li>receives any other request, complaint or communication relating to either Party’s obligations under the Data
    Protection Legislation;
  </li>
  <li>receives any communication from the Information Commissioner or any other regulatory authority in connection with
    Personal Data Processed under this agreement;
  <li>receives a request from any third party for disclosure of Personal Data where compliance with such request is
    required or purported to be required by Law; or
  </li>
  <li>becomes aware of a Data Loss Event.</li>
</ol>

<p class="govuk-body-m"> 2.7 Taking into account the nature of the Processing, GDS shall provide Your Organisation with
  full assistance in relation to either party’s obligations under Data Protection Legislation and any complaint,
  communication or request made (and insofar as possible within the timescales reasonably required by Your Organisation)
  including by promptly providing:</p>
<ol class="govuk-list app-list--lower-alpha">
  <li>Your Organisation with full details and copies of the complaint, communication or request;</li>
  <li>such assistance as is reasonably requested by Your Organisation to enable Your Organisation to comply with a Data
    Subject Request within the relevant timescales set out in the Data Protection Legislation;
  </li>
  <li>Your Organisation, at its request, with any Personal Data it holds in relation to a Data Subject;</li>
  <li>such assistance as is reasonably requested by Your Organisation following any Data Loss Event; and</li>
  <li>such assistance as is reasonably requested by Your Organisation with respect to any request from the Information
    Commissioner’s Office or any other regulatory authority, or any consultation by Your Organisation with the
    Information Commissioner’s Office or any other regulatory authority.
  </li>
</ol>

<p class="govuk-body-m"> 2.8 GDS shall maintain complete and accurate records and information to demonstrate its
  compliance with this clause and make these available on request to the Controller.</p>

<p class="govuk-body-m"> 2.9 You may want to consider providing Your Organisation’s Data Protection Officer (DPO) with
  Organisation Admin account access in order to see all forms and data being collected across the organisation. Please
  inform the GOV.UK Forms team if this is something your DPO would be interested in getting.</p>

<p class="govuk-body-m"> 2.10 GDS shall allow for audits of its Data Processing activity by Your Organisation or Your
  Organisation’s designated auditor, provided always that:</p>
<ol class="govuk-list app-list--lower-alpha">
  <li>Your Organisation gives GDS a minimum of 30 calendar days’ written notice of its intention to audit (other than in
    the event of a Personal Data Breach or where required by a regulator, when Your Organisation shall give as much
    notice as is reasonably possible in the circumstances);
  </li>
  <li>Your Organisation to the extent reasonably possible conducts its audit through the written submission of requests
    for information about its Processing operations to the GDS and reliance on GDS’s written responses, unless it has
    reasonable cause to question the accuracy of such responses or the intended scope of its audit cannot reasonably be
    achieved in such a manner;
  </li>
  <li>Your Organisation to the extent reasonably possible minimises the impact of its audit on the operations of the
    GDS;
  </li>
  <li>Your Organisation does not conduct more than one audit annually (other than in the event of a Personal Data Breach
    or where required by a regulator); and
  </li>
  <li>where Your Organisation appoints a third party auditor, that third party auditor signs an appropriate
    confidentiality agreement on terms acceptable to GDS acting reasonably, prior to the start of the audit.
  </li>
</ol>

<p class="govuk-body-m"> 2.11 GDS has a designated Data Protection Officer as required by the Data Protection
  Legislation.</p>

<p class="govuk-body-m"> The contact is:</p>

<p class="govuk-body-m">DSIT Data Protection Officer<br>
  Department for Science, Innovation and Technology<br>
  22-26 Whitehall<br>
  London<br>
  SW1A 2EG<br>
  <a href="mailto:dataprotection@dsit.gov.uk" class="govuk-link">dataprotection@dsit.gov.uk</a>
</p>

<p class="govuk-body-m">2.12. Your Organisation consents to the use of the Sub-Processors set out in Annex D.</p>

<p class="govuk-body-m">2.13. GDS may change its Sub-Processors from time to time. Before allowing a Sub-Processor to
  Process any Personal Data related to this agreement, GDS must:</p>
<ol class="govuk-list app-list--lower-alpha">
  <li>have undertaken an information security assessment of the Sub-Processor to ensure compliance with all aspects of
    this agreement;
  </li>
  <li>have a written commitment from the Sub-Processor to maintain compliance with all aspects of this agreement;
  </li>
  <li>notify Your Organisation in writing of the new Sub-Processor and type of Processing they will undertake; and
  </li>
  <li>provide Your Organisation with such information regarding the Sub-Processor as Your Organisation may reasonably
    require.
  </li>
</ol>

<p class="govuk-body-m"> 2.14 The Parties agree to take account of any non-mandatory published guidance issued by the
  Information Commissioner’s Office. Your Organisation may request that this agreement is updated to comply with any
  guidance issued by the Information Commissioner’s Officer within 30 calendar days of request to GDS.</p>

<p class="govuk-body-m"> 2.15 GDS agrees to Process the GOV.UK Forms User and Filler Personal Data in accordance with
  the requirements of this agreement, and in particular GDS agrees that it shall:</p>
<ol class="govuk-list app-list--lower-alpha">
  <li>process the GOV.UK Forms User and Filler Personal Data only as set out in this agreement;</li>
  <li>process the GOV.UK Forms User and Filler Personal Data only to the extent, and in such manner, as is necessary to
    deliver the GOV.UK Forms service;
  </li>
  <li>comply with obligations of the applicable Data Protection Legislation and in particular implement appropriate
    technical and organisational measures to protect the GOV.UK Forms User and Filler Personal Data against unauthorised
    or unlawful Processing and against accidental loss, destruction, damage, alteration or disclosure. These measures
    shall ensure a level of security appropriate to the harm which might result from any unauthorised or unlawful
    Processing, accidental loss, destruction or damage to the GOV.UK Forms User and Filler Personal Data and having
    regard to the nature of the GOV.UK Forms User and Filler Personal Data which is to be protected;
  </li>
  <li>take reasonable steps to ensure the reliability of any personnel who have access to the GOV.UK Forms User and
    Filler Personal Data;
  </li>
  <li>transfer the GOV.UK Forms User and Filler Personal Data only to those Sub-Processors listed in Annex D or
    subsequently notified to Your Organisation;
  </li>
  <li>ensure that all personnel required to Process the GOV.UK Forms User and Filler Personal Data are informed of GDS’s
    obligations under this agreement with regard to the security and protection of GOV.UK Forms User and Filler Personal
    Data and that those obligations are complied with;
  <li>ensure that no personnel publish, disclose or divulge any of the GOV.UK Forms User and Filler Personal Data to any
    third party unless directed in writing to do so by each of the Parties;
  </li>
  <li>if it receives a Data Subject Request under the applicable Data Protection Legislation, or any complaint in
    relation to GOV.UK Forms, to inform the complainant or requester that Your Organisation is the Data Controller and
    ask the User to contact Your Organisation DPO where appropriate.
  </li>
</ol>

<h2 id="annex-d-gov-uk-forms-data-sub-processors" class="govuk-heading-m">Annex D: GOV.UK Forms data Sub-Processors</h2>

<h3 id="infrastructure-provider" class="govuk-heading-s">Infrastructure provider</h3>

<p class="govuk-body-m">GOV.UK Forms is hosted on Amazon Web Services (AWS) infrastructure in the UK.</p>

<p class="govuk-body-m">Amazon Web Services (Company Number: 08650665)<br>
  1 Principal Place<br>
  Worship Street<br>
  London<br>
  EC2A 2FA</p>

<h3 id="application-logging-and-alerting" class="govuk-heading-s">Application logging and alerting</h3>

<p class="govuk-body-m">GDS uses Splunk for application and infrastructure monitoring and alerting to help keep GOV.UK
  Forms secure and performant. This includes logging user actions and alerting the GOV.UK Forms team about certain types
  of activity.</p>

<p class="govuk-body-m">Doing so involves processing some GOV.UK Forms User Data and GOV.UK Form Filler Technical Data,
  including IP address and user agent. This data does not include Form Fillers’ answers to form questions. Logs are
  transferred to the Spunk Cloud service, hosted in the EU.</p>

<p class="govuk-body-m">Splunk<br>
  Thames Tower<br>
  Station Rd.<br>
  Reading<br>
  RG1 1LX</p>

<h3 id="customer-service-platform-provider" class="govuk-heading-s">Customer service platform provider</h3>

<p class="govuk-body-m">GDS uses the Zendesk customer service platform to manage support requests from users. So we can
  respond to these requests, we collect GOV.UK Forms User Personal Data - for example, the names and email addresses of
  people who request support. This data is processed on infrastructure hosted in the EU.</p>

<p class="govuk-body-m">Zendesk (Company Number: 07622459)<br>
  30 Eastbourne Terrace<br>
  London<br>
  W2 6LA</p>

<h3 id="authentication-of-form-creators" class="govuk-heading-s">Authentication of form creators</h3>

<p class="govuk-body-m">GDS uses Okta’s Auth0 service to help keep the platform secure by authenticating form creators.
  This involves processing the form creator’s email address. It does not involve processing data from Form Fillers’
  answers to form questions.</p>

<p class="govuk-body-m">Form creator’s email addresses are processed on infrastructure hosted in the UK.</p>

<p class="govuk-body-m">OKTA EMEA HEADQUARTERS<br>
  20 Farringdon Road<br>
  London<br>
  EC1M 3HE<br>
  United Kingdom</p>

<h2 id="annex-e-gov-uk-forms-data-retention-times" class="govuk-heading-m">Annex E: GOV.UK Forms data retention times
</h2>

<h3 id="gds-part-of-department-for-science-innovation-amp-technology" class="govuk-heading-s">GDS (part of Department
  for Science, Innovation &amp; Technology</h3>

<p class="govuk-body-m">Some GOV.UK Forms User Personal Data (name and email address) is held indefinitely to keep form
  history and audit changes to forms.</p>

<p class="govuk-body-m">Form submissions, including Form Filler Personal Data, are retained during the user’s active
  session. These sessions automatically expire and are permanently deleted after 20 hours of inactivity.</p>

<p class="govuk-body-m">Data from completed form submissions, including Form Filler Personal Data, are kept for 30 days.
  This is in case of any technical problems delivering the data.</p>

<p class="govuk-body-m">GOV.UK Forms Filler Technical Data is kept up to a year.</p>

<h3 id="zendesk" class="govuk-heading-s">Zendesk</h3>

<p class="govuk-body-m">Name and email address of the person making the support request is retained for 1-2 years.
  Non-Personal Data is retained indefinitely.</p>

<h3 id="co-cyber-security-splunk" class="govuk-heading-s">CO Cyber Security / Splunk</h3>

<p class="govuk-body-m">Application logs are retained for 12 months.</p>

<h3 id="auth0-by-okta" class="govuk-heading-s">Auth0 by Okta</h3>

<p class="govuk-body-m">Logs are retained for 2 days. User profile data (email address) is retained until the user’s
  profile is deleted. User profiles are deleted after they have been inactive for 12 months.</p>

<h2 id="annex-f-gov-uk-forms-schedule-of-processing-personal-data-and-data-subjects" class="govuk-heading-m">Annex F:
  GOV.UK Forms schedule of processing, personal data and data subjects</h2>

<p class="govuk-body-m">Annex F provides a general description of how GOV.UK Forms will process Personal Data on behalf
  of Your Organisation as controller. The Annex will be supplemented by the content of the forms Your Organisation
  creates using the GOV.UK Forms platform, and this content will constitute your further documented instructions as to
  how GDS may process personal data on your behalf for the purposes of Article 28(3)(a) of UK GDPR.</p>

<h3 id="subject-matter-of-the-processing" class="govuk-heading-s">Subject matter of the Processing</h3>

<p class="govuk-body-m">To support the running of government services, GOV.UK Forms collects Personal and Non-Personal
  Data from members of the public and businesses so that Your Organisation can make decisions about them.</p>

<h3 id="duration-of-the-processing" class="govuk-heading-s">Duration of the Processing</h3>

<p class="govuk-body-m">Processing on the GOV.UK Forms infrastructure takes up to 2 working days (to allow for disaster
  recovery).</p>

<h3 id="nature-and-purposes-of-the-processing" class="govuk-heading-s">Nature and purposes of the Processing</h3>

<p class="govuk-body-m">GOV.UK Forms collects Personal Data for the purposes of Processing forms that are submitted by
  members of the public and businesses.</p>

<p class="govuk-body-m">GOV.UK Forms also collects Personal Data for the purposes of monitoring and alerting on
  application performance and platform security.</p>

<p class="govuk-body-m">GOV.UK Forms uses third party suppliers to deliver emails to Your Organisation and to manage
  customer support.</p>

<p class="govuk-body-m">Once the relevant retention period has been reached, GOV.UK Forms Personal Data is deleted by
  GDS and third party suppliers.</p>

<p class="govuk-body-m">The purposes of government forms are many and varied, but generally fall into the categories of
  licences, permits, registrations, reporting, taxation, refunds, requesting support, renewals, records changes,
  exemptions, appeals, correspondence, public engagement and procurement.</p>

<h3 id="types-of-personal-data" class="govuk-heading-s">Types of Personal Data</h3>

<p class="govuk-body-m">The types of Personal Data collected in government forms will be dependent on the form that has
  been provided, but generally will include name, identification number, location data and other data that could
  identify an individual both directly or indirectly.</p>

<p class="govuk-body-m">Where needed for the service, forms may also collect special category data and information
  relating to criminal convictions and offences.</p>

<h3 id="categories-of-data-subject" class="govuk-heading-s">Categories of Data Subject</h3>

<p class="govuk-body-m">Includes members of the public and people employed by businesses or other organisations.</p>

<h3
  id="plan-for-return-or-destruction-of-the-data-once-the-processing-is-complete-unless-required-under-union-or-member-state-law-to-preserve-that-type-of-data"
  class="govuk-heading-s">Plan for return or destruction of the data once the Processing is complete, unless required
  under union or member state Law to preserve that type of data</h3>

<p class="govuk-body-m">Personal Data is automatically deleted at the end of the data retention period. This is the case
  as part of routine Processing, and at termination of this agreement.</p>

<h2 id="annex-g-how-gov-uk-forms-protects-your-data" class="govuk-heading-m">Annex G: How GOV.UK Forms protects your
  data</h2>

<p class="govuk-body-m">This section provides an overview of the security measures provided by the GOV.UK Forms service.
  It is intended to assist you with deciding whether the service is suitable for your needs.</p>

<h3 id="infrastructure" class="govuk-heading-s">Infrastructure</h3>

<p class="govuk-body-m">GOV.UK Forms is hosted on <a href="https://aws.amazon.com/" class="govuk-link">AWS</a> in their
  London Region. All components have built in redundancy and backups where possible.</p>

<h3 id="service-design" class="govuk-heading-s">Service design</h3>

<p class="govuk-body-m">GOV.UK Forms has been designed to align with government cyber security standards, including
  <a href="https://www.security.gov.uk/standards/cyber_standard" class="govuk-link">The Cyber Security Standard</a>, the
  <a href="https://www.gov.uk/service-manual/service-standard" class="govuk-link">Service Standard</a> and relevant
  guidance published by the NCSC, the UK’s national authority for cyber security.
</p>

<p class="govuk-body-m">Threat modelling and risk assessments are used to identify where additional security measures
  may be necessary.</p>

<h3 id="personnel-security-controls" class="govuk-heading-s">Personnel security controls</h3>

<p class="govuk-body-m">Operations staff within GDS and its supply chain who support GOV.UK Forms are required to
  successfully complete pre-employment screening in accordance with the Baseline Personnel Security Standard or an
  equivalent commercial screening process.</p>

<h3 id="separation-between-customers" class="govuk-heading-s">Separation between customers</h3>

<p class="govuk-body-m">Organisations can only create and edit their own forms, except where an organisation agrees to a
  member of another organisation creating and editing forms on its behalf.</p>

<h3 id="protection-of-data-in-transit" class="govuk-heading-s">Protection of data in transit</h3>

<p class="govuk-body-m">Data will be encrypted in transit as follows:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Requests between users’ browsers and GOV.UK Forms applications are encrypted with TLS V1.2</li>
  <li>Requests between GOV.UK Forms and its 3rd party processors are encrypted with TLS V1.2</li>
  <li>Requests between 3rd party processors and the designated mail server for receiving submitted form responses are
    encrypted by using TLS V1.2 if the mail server supports this.
  </li>
  <li>Requests between Notify and the mail server for receiving form submission confirmations, by using TLS V1.2 if the
    mail server supports this.
  </li>
</ul>

<h3 id="protection-of-data-at-rest" class="govuk-heading-s">Protection of data at rest</h3>

<p class="govuk-body-m">Form response data will be encrypted at rest.</p>

<h3 id="vulnerability-management" class="govuk-heading-s">Vulnerability management</h3>

<p class="govuk-body-m">Software code is subject to security testing during the software development process and the
  production environment is subject to continuous vulnerability scanning using
  <a href="https://www.ncsc.gov.uk/information/web-check" class="govuk-link">NCSC’s Web Check</a>.
</p>

<p class="govuk-body-m">The service is subject to independent penetration testing at least annually and prior to major
  functional feature releases. Any findings are risk assessed and managed in accordance with GDS’s risk appetite.</p>

<h3 id="event-logging-and-protective-monitoring" class="govuk-heading-s">Event logging and protective monitoring</h3>

<p class="govuk-body-m">GDS generates and retains event logs of the systems and applications that deliver GOV.UK Forms
  and the service is protectively monitored for indicators of compromise.</p>

<h3 id="governance" class="govuk-heading-s">Governance</h3>

<p class="govuk-body-m">During its development, GOV.UK Forms was subject to independent service assessments. In
  addition, GDS Information Assurance maintains an independent information risk assessment of the service, reporting to
  the GDS Senior Leadership Team.</p>
