<% set_page_title(page_title(t("page_titles.mou_signature_new"))) %>

<% if @mou_signature.present? %>
  <%= govuk_notification_banner(title_text: "MOU Signature already complete") do |banner| %>
    <% banner.with_heading(text: "The MOU was signed on #{@mou_signature.created_at.strftime("%Y-%m-%d")}") %>
  <% end %>
<% end %>

<h1 class="govuk-heading-l">GOV.UK Forms Memorandum of Understanding</h1>

<%= render "mou_version_1" %>
