<% set_page_title(t("page_titles.forbidden")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('forbidden.title') %></h1>
    <%= simple_format(t('forbidden.body_html', link: contact_link(t('forbidden.link_text'))), class: 'govuk-body') %>
  </div>
</div>
