<% set_page_title(t("page_titles.not_found")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t('not_found.title') %></h1>
    <%= simple_format(t('not_found.body')) %>
  </div>
</div>
