<p class="govuk-body">
  <%= t("form_url_component.url_is") %>

  <span class="govuk-!-display-block govuk-!-margin-top-6 govuk-!-padding-bottom-6">
    <%= govuk_link_to @runner_link, @runner_link, { target:"_blank", rel:"noopener noreferrer"} %>
  </span>
</p>
