<%= tag.div "data-module": "copy-to-clipboard", "data-copy-button-text": @button_text do %>
  <h2 class="govuk-heading-m">
    <%= @heading_text %>
  </h2>

  <p data-copy-target>
    <%= @runner_link %>
  </p>
<% end %>
