<%= tag.div "data-module": "copy-to-clipboard", "data-copy-button-text": @button_text do %>
  <%= content_tag("h#{@heading_level}", class: "govuk-heading-m") do %>
    <%= @heading_text %>
  <%end%>

  <p data-copy-target>
    <%= @runner_link %>
  </p>
<% end %>
