<%= tag.div "data-module": "copy-to-clipboard", "data-copy-button-text": t("form_url_component.copy_to_clipboard") do %>
  <h2 class="govuk-heading-m">
    <%= t("form_url_component.form_url") %>
  </h2>

  <p data-copy-target>
    <%= @runner_link %>
  </p>
<% end %>
