<%= tag.div "data-module": "copy-to-clipboard", "data-copy-button-text": t("form_url_component.copy_to_clipboard") do %>
  <p class="govuk-body">
    <%= t("form_url_component.url_is") %>
  </p>

  <p class="govuk-body" data-copy-target>
    <strong><%= @runner_link %><strong>
  </p>
<% end %>
