<%= govuk_notification_banner(title_text: t("make_live.new.notification_title")) do |nb| %>
  <% nb.heading(text: t("make_live.new.notification_heading")) %>
  <p>
    <%= t("make_live.new.notification_content") %>
  </p>
<% end %>
