<%= govuk_notification_banner(title_text: t("live_form_warning.notification_title")) do |nb| %>
  <% nb.heading(text: t("live_form_warning.notification_heading")) %>
  <p>
    <%= t("live_form_warning.notification_content") %>
  </p>
<% end %>
