<div class="govuk-grid-row">
  <div class="govuk-grid-column-full app-act-as-banner">
    <p class="app-act-as-banner__content">
      <%= acting_as_banner_content %>
      <%= govuk_link_to stop_acting_as_link_content, act_as_user_stop_path %>
    </p>
  </div>
</div>
