<% set_page_title(title_with_error_prefix(t('page_titles.change_name_form'), @name_form.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(form_path, t("back_link.form_create")) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render @name_form, url: change_name_path %>
  </div>
</div>
