<% set_page_title(title_with_error_prefix(t('page_titles.change_name'), @name_input.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(root_path) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render @name_input, url: new_form_path %>
  </div>
</div>
