.app-page-list {
  .govuk-summary-list:not(:last-child) {
    margin-bottom: 0;
  }
}

.app-page-list__button-group {
  justify-content: end;
}

.app-page-list__key {
  @include govuk-media-query($from: desktop) {
    width: 20%;
  }
}

.govuk-form-group--error .app-page-list__key {
  @include govuk-media-query($from: tablet) {
    padding-left: govuk-spacing(3);
  }
}

.app-page_list__route-text--error {
  @include govuk-responsive-margin(2, "bottom");
  color: $govuk-error-colour;
  font-weight: 700;
}
