.app-page-list {
  .govuk-summary-list:not(:last-child) {
    margin-bottom: 0;
  }
}

.app-page-list__button-group {
  justify-content: end;
}

.app-page-list__key {
  @include govuk-media-query($from: desktop) {
    width: 20%;
  }
}

.app-page-list__row--error {
  border-left: 5px solid $govuk-error-colour;
  padding-left: 10px;
  @include govuk-media-query($from: tablet) {
    padding-left: 0;
  }
}

.app-page-list__row--error .app-page-list__key {
  @include govuk-media-query($from: tablet) {
    padding-left: 10px;
  }
}
