.app-page-list {
  .govuk-summary-list:not(:last-child) {
    margin-bottom: 0;
  }
}

.app-page-list__button-group {
  justify-content: end;
}

.app-page-list__key {
  @include govuk-media-query($from: desktop) {
    width: 20%;
  }
}

.govuk-form-group--error .app-page-list__key {
  @include govuk-media-query($from: tablet) {
    padding-left: govuk-spacing(3);
  }
}

.app-page_list__route-text--error:link,
.app-page_list__route-text--error:visited {
  color: $govuk-error-colour;
}
