.app-header__product-name {
  display: inline-flex;
  align-items: center;
  gap: .25em;
  flex-wrap: wrap;
}

.app-header :is(.govuk-header__logo, .govuk-header__content) {
  @include govuk-media-query($from: desktop) {
    width: 50%;
  }
}

.govuk-header {
  &.app-header--magenta {
    border-top: 10px solid govuk-colour("magenta");
  }

  &.app-header--teal {
    border-top: 10px solid govuk-colour("teal");
  }

  &.app-header--yellow {
    border-top: 10px solid govuk-colour("yellow");
  }
}
