.app-header__product-name {
  display: inline-flex;
  align-items: center;
  gap: .25em;
  flex-wrap: wrap;
}

.app-header :is(.govuk-header__logo, .govuk-header__content) {
  @include govuk-media-query($from: desktop) {
    width: 50%;
  }
}

.govuk-header {
  &.app-header--pink {
    border-top: 10px solid govuk-colour("pink");
  }

  &.app-header--turquoise {
    border-top: 10px solid govuk-colour("turquoise");
  }

  &.app-header--yellow {
    border-top: 10px solid govuk-colour("yellow");
  }
}
