<% set_page_title(title_with_error_prefix(t(".title"), @delete_confirmation_input.errors.any?)) %>
<% content_for :back_link, govuk_back_link_to(@back_url) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% hint_text = t(".hint_for_live_draft") if @current_form&.live_with_draft? %>
    <% hint_text = t(".hint_for_archived_draft") if @current_form&.archived_with_draft? %>
    <%= render(
      @delete_confirmation_input,
      url: @url,
      caption_text: @item_name,
      legend_text: t(".title"),
      hint_text: hint_text,
    ) %>
  </div>
</div>
