<% set_page_title(t(".heading"))%>
<% content_for :back_link, govuk_back_link_to(report_features_path, t("reports.back_to_feature_usage")) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".heading")%></h1>

    <p><%=govuk_link_to(t(".download_csv"), report_live_forms_with_csv_submission_enabled_csv_path)%></p>
  </div>

  <div class="govuk-grid-column-full">
    <%= govuk_table(
      head: report_forms_table_head,
      rows: report_forms_table_rows(forms),
    ) %>
  </div>
</div>
