<% set_page_title("Reports") %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Reports</h1>
    <ul class="govuk-list">
      <li><%= govuk_link_to "Feature usage on live forms", report_features_path %></li>
    </ul>
  </div>
</div>
