<% set_page_title(t(".title")) %>

<% content_for :back_link, govuk_back_link_to(reports_path, t("reports.back_link")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

    <% _1_year_ago = 1.year.ago.to_date.to_fs %>
    <%= render LastSignedInAtReportComponent::View.new(
      t(".not_since", since: _1_year_ago), User.where("last_signed_in_at <= ?", 1.year.ago),
    ) %>

    <%= render LastSignedInAtReportComponent::View.new(
      t(".not_since_last_signed_in_at_added"), User.where(last_signed_in_at: nil),
    ) %>

    <%= render LastSignedInAtReportComponent::View.new(
      t(".not_since_auth0_enabled"), User.where(provider: :gds),
    ) %>
  </div>
</div>
