<% set_page_title(t(".heading"))%>
<% content_for :back_link, govuk_back_link_to(report_features_path, t("reports.back_to_feature_usage")) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".heading")%></h1>

    <p><%=govuk_link_to(t(".download_csv"), report_live_questions_with_add_another_answer_csv_path)%></p>
  </div>

  <div class="govuk-grid-column-full">
    <%= govuk_table(
      head: report_questions_table_head,
      rows: report_questions_table_rows(questions),
    ) %>
  </div>
</div>
