<% set_page_title(t(".heading", answer_type: t("helpers.label.page.answer_type_options.names.#{answer_type}").downcase, tag:).upcase_first) %>
<% content_for :back_link, govuk_back_link_to(report_features_path, t("reports.back_to_feature_usage")) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t(".heading", answer_type: t("helpers.label.page.answer_type_options.names.#{answer_type}").downcase, tag:).upcase_first %></h1>

    <% unless questions.empty? %>
      <p><%=govuk_link_to(t(".download_csv", tag:).upcase_first, url_for(format: :csv))%></p>
    <% end %>
  </div>

  <div class="govuk-grid-column-full">
    <% if questions.empty? %>
      <p class="govuk-body"><%= t(".empty", tag:, answer_type:) %></p>
    <% else %>
      <%= govuk_table(
        head: report_questions_table_head,
        rows: report_questions_table_rows(questions),
      ) %>
    <% end %>
  </div>
</div>
