<% set_page_title(t("reports.#{report}.heading"))%>
<% content_for :back_link, govuk_back_link_to(report_features_path, t("reports.back_to_feature_usage")) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t("reports.#{report}.heading")%></h1>

    <p><%=govuk_link_to(t("reports.#{report}.download_csv"), url_for(format: :csv))%></p>
  </div>

  <div class="govuk-grid-column-full">
    <%= govuk_table(**report_table(questions)) %>
  </div>
</div>
