.app-markdown-editor__notification-area {
  @include govuk-visually-hidden;
}

.app-markdown-editor__preview-area {
  border: 2px solid $govuk-border-colour;
  padding: 30px;
  margin: 0 0 1em;
}

.app-markdown-editor__preview-area :last-child {
  margin-bottom: 0;
}

.govuk-frontend-supported .app-markdown-editor__preview-button {
  display: none;
}

.govuk-frontend-supported .app-markdown-editor__preview-intro {
  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

.govuk-frontend-supported .app-markdown-editor__preview-area {
  @include govuk-media-query($from: tablet) {
    border: 0;
    padding: 0;
    margin-bottom: 0;
  }
}

.govuk-frontend-supported .app-markdown-editor__edit-link {
  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

.app-markdown-editor__toolbar {
  display: flex;
  gap: 5px;
  flex-flow: row wrap;
  padding: 10px 3px;

  &:focus-within {
    box-shadow: inset 0 0 0 2px;
    outline: 3px solid $govuk-focus-colour;
    outline-offset: 0;
  }
}

.app-markdown-editor__toolbar-button-group {
  display: flex;
  gap: 0 govuk-px-to-rem(1);
}

.app-markdown-editor__toolbar-button {
  width: govuk-px-to-rem(40);
  height: govuk-px-to-rem(40);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;

  &--h2 {
    background-image: url("../../assets/icons/markdown-editor-h2.svg");
  }

  &--h3 {
    background-image: url("../../assets/icons/markdown-editor-h3.svg");
  }

  &--bullet-list {
    background-image: url("../../assets/icons/markdown-editor-bullet-list.svg");
  }

  &--numbered-list {
    background-image: url("../../assets/icons/markdown-editor-numbered-list.svg");
  }

  &--link {
    background-image: url("../../assets/icons/markdown-editor-link.svg");
  }
}

.app-markdown-editor__markdown-example-block {
  white-space: pre-wrap;
  font-size: inherit;
  font-family: inherit;

  &-code {
    font-size: inherit;
    font-family: inherit;
  }
}

.app-markdown-editor__error-message {
  margin: 0;
}
