name: Deploy to GOV.UK PaaS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install Ruby and gems
        uses: ruby/setup-ruby@3068fa83f9cbd7ae106cac45483635a2f3a195c9 # v1.117.0
        with:
          bundler-cache: true

      - name: Precompile assets
        run: bundle exec rake assets:precompile

      - name: Install cloudfoundry
        shell: bash
        id: install-cf-cli
        run: |
          wget -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | sudo apt-key add -
          echo "deb https://packages.cloudfoundry.org/debian stable main" | sudo tee /etc/apt/sources.list.d/cloudfoundry-cli.list
          sudo apt-get update
          sudo apt-get install cf8-cli

      - name: Deploy to Gov.uk PaaS
        id: deploy-to-paas
        shell: bash
        run: |
          cf api ${{ secrets.CF_API }}
          cf auth "${{ secrets.CF_USER }}" "${{ secrets.CF_PASSWORD }}"
          cf target -o ${{ secrets.CF_ORGANISATION }} -s ${{ secrets.CF_SPACE }}
          cf push --strategy rolling \
            --var PAAS_ENVIRONMENT=dev \
            --var GDS_SSO_OAUTH_ID=${{ secrets.GDS_SSO_OAUTH_ID }} \
            --var GDS_SSO_OAUTH_SECRET=${{ secrets.GDS_SSO_OAUTH_SECRET }} \
            --var GOVUK_APP_DOMAIN=${{ secrets.GOVUK_APP_DOMAIN }} \
            --var SENTRY_DSN=${{ secrets.SENTRY_DSN }} \
            --var SETTINGS__FORMS_API__BASE_URL=${{ secrets.API_BASE }} \
            --var RUNNER_BASE=${{ secrets.RUNNER_BASE }} \
            --var API_KEY=${{ secrets.API_KEY }}
