name: "Build image"
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  merge_group:
    types: [checks_requested]
jobs:
  build-image:
    uses: alphagov/forms-deploy/.github/workflows/reusable-build-image.yml@main
