name: "Lint Workflows"

on:
  pull_request:
    branches: [main]
    paths:
      - '.github/workflows/*.yml'
      - '.github/workflows/*.yaml'

jobs:
  lint-workflows:
    uses: alphagov/forms-deploy/.github/workflows/reusable-lint-workflows.yml@main
