name: "Review apps: on PR close"
on:
  pull_request:
    types: [closed]

concurrency:
  group: "review-apps-forms-admin-pr-${{ github.event.pull_request.number }}"
  cancel-in-progress: false

jobs:
  delete-review-app:
    runs-on: ubuntu-24.04-arm
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::842676007477:role/review-github-actions-forms-admin
          aws-region: eu-west-2

      - name: Destroy review app via CodeBuild
        uses: aws-actions/aws-codebuild-run-build@4d15a47425739ac2296ba5e7eee3bdd4bfbdd767 # v1.0.18
        with:
          project-name: review-forms-admin-destroy
          env-vars-for-codebuild: |
            PR_NUMBER
        env:
          PR_NUMBER: ${{ github.event.pull_request.number }}
