name: "Terraform"
on:
  pull_request:
    branches: [main]
    paths:
      - ".review_apps/**"
  merge_group:
    types: [checks_requested]
jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v5.0.0

      - name: Determine Terraform version
        id: terraform-version
        run: |
          cat .review_apps/.terraform-version | xargs printf "TF_VERSION=%s" >> "$GITHUB_OUTPUT"

      - uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_version: ${{steps.terraform-version.outputs.TF_VERSION}}

      - name: Check Terraform style
        id: tf_fmt
        working-directory: ".review_apps/"
        run: |
          terraform fmt -write=false -diff=true -list=true -recursive -check

      - name: Lint Terraform
        run: |
          pip install -r .review_apps/requirements.txt
          checkov -d .review_apps/ --framework terraform --quiet

      - name: Validate Terraform syntax
        working-directory: ".review_apps/"
        run: |
          terraform init -backend=false || exit
          terraform validate
